[2016-02-28 23:40] aphirst opened #1 "[Feature Request] Subscription Emulation using RSS"
Hi there, just found about this project, and think it's pretty interesting.

I'll just get straight to the point. I have no Google account but I "subscribe" to YouTube channels I like using the fact that each channel also provides an RSS feed for their posted videos. So I just have a big load of RSS feeds that I have synchronising and I stay up to date. It occurs to me that these might be useful t

[2016-02-29 12:37] ildar opened #2 "[FR] search history"
Would be great to have the search history independent from YouTube accounts..

[2016-02-29 14:09] JasperWeiss opened #3 "Orbot support"
Hi! Thanks for yet another YouTube app :D
Would you mind adding Orbot support?
So that one can browse YouTube without Google, Big brother, advertisers etc colllecting my entire YouTube history.

https://www.torproject.org/docs/android.html.en

[2016-02-29 17:26] ram-on commented on #1
Thx for your support.

Channel bookmarking will be implemented for the next release (version 2.0)

Regarding the RSS feed:
YouTube works this way:
* A new video is uploaded to a channel
* User gets a notification.
* For each video uploaded, the notification counter will increase until the users starts watching the videos - in that case the video counter will decrement by one

My point is that this

[2016-02-29 17:33] ram-on commented on #3
Good point.  I've added it to the TODO list.

[2016-03-01 00:16] gerroon opened #4 "FR: Sorting"
Hi

Could you please add sorting to search results?

Btw thanks not spying on the users.

[2016-03-01 00:17] gerroon commented on #3
Or, proper proxy support which defaults to ststandard orbot ports (9050:sox and 8118:http respectiveley)

[2016-03-01 08:03] JasperWeiss commented on #3
It'd be even nicer to have a pop-up with options e.g none, orbot, custom

[2016-03-01 19:25] ram-on commented on #4
Hi,

I was planning to implement 'advanced search' so I might add sorting to this.  Do you have any sorting preferences in mind (e.g. sort by popularity)?

Btw, I would like to thank you for youtube-dl project.  It's an extremely used tool.

[2016-03-01 19:27] ram-on commented on #3
@gerroon +1 for the proxy settings.  Noted.

@JasperWeiss Network settings will most probably be added in the settings/preferences.

[2016-03-01 23:01] gerroon commented on #4
@ram-on  I personally like sorting based on the data and the duration

[2016-03-02 06:42] JasperWeiss commented on #3
Orbots proxy should still be a seperate option. Because just proxy support by itself doesn't include other orbot specific things. The app could for example start orbot if it's not turned on yet, or warn the user if it's not installed, check whether orbot is active etc.
I'd recommend The Guardian Projects "Netchiper" library which makes orbot and proxy integration easy.

[2016-03-03 11:03] eftas-gka opened #5 "Open YouTube links in SkyTube"
Just a humble suggestion to allow YouTube links to be opened in Skytube as default app. Great work otherwise!

[2016-03-03 20:41] ram-on commented on #5
Thanks.  It will be included in the next release.

[2016-03-05 21:51] ram-on commented on #5
Done.

[2016-03-05 21:51] #5 closed

[2016-03-06 00:11] Decme opened #6 "Background play?"
The audio stops when you switch apps. Can this be fixed?

[2016-03-06 10:32] ram-on commented on #6
Currently background play is only supported when you lock your device's screen.  However, this is rather a byproduct of Android's VideoView than an actual feature.

I actually need to research what the TOS states.  I don't want Google blocking my api-key.

[2016-03-07 01:03] vicone666 opened #7 "VEVO bug (aka Video play error)"
VEVO videos do not play

[2016-03-07 15:07] husadd commented on #7
Try to change your "preferred resolution" to a lower one in settings, maybe your phone doesn't support 1080p or 720p so the video (which is available in 720p or 1080p) will keep loading. Or maybe your connection speed is slow so it takes long time to load it in a high resolution.
Hope that helps.

[2016-03-07 21:38] ram-on commented on #7
As @husadd stated, try to lower the preferred resolution from the settings.  It is known that some devices do not support high resolution videos.

[2016-03-08 03:18] vicone666 commented on #7
Okay you guys were semi right, the problem only occurs if I do not pick any preferred resolution (aka default setting) otherwise vevo videos work, tested on 360p and 1080p.

So I guess the current solution would be to have a default preference selection, dunno lets say default value 360p or 480p.

Keep up the good work tho

Device: Nexus 5, 6.0.1

[2016-03-08 11:16] ram-on commented on #7
@vicone666 Which is the highest resolution that your device supports?

[2016-03-09 01:06] vicone666 commented on #7
1080p videos work flawlessly

[2016-03-09 04:13] vicone666 commented on #7
An error has occured when getting video id: j5-yKhDd64s

While having not having any option selected in the video quality preference.

[2016-03-09 20:55] ram-on commented on #7
@vicone666 that error most probably means that, for example, the video is not available in your country.  Eventually, such error messages will be more user friendly and more descriptive.

[2016-03-25 02:48] lfom commented on #7
I have the same problem: most music videos don't play (error getting video _code_), while they play on YT app (same Vevo URL). I have tried all res, no deal...

[2016-03-25 09:50] ram-on commented on #7
@lfom pls specify the device name

[2016-03-25 12:51] lfom commented on #7
LG L90 (w7dsn), running Marshmallow (CM13).

[2016-04-04 01:23] ode79 opened #8 "Feature Request: Pause Video on Headphone Removal"
A lot of other media players have this feature. I find it useful and expected behaviour generally, it would be great if you could add it please.

Thanks for the great app.

[2016-04-04 01:27] ode79 commented on #2
This would be great improvement.

Even just session history would be very useful.

I've found when I search for something and it's not quite right I tap back and then have to type the whole phrase again and modify it slightly rather than just modify what the search box remembers from the last search.

[2016-04-05 02:11] lfom commented on #7
Exactly same error: S5 mini (SM-G800h) running stock 5.1.1 Lollipop. I am in Brazil but the same URL opens in YT and Vivo apps.

[2016-04-05 09:21] ram-on commented on #7
@lfom Strange.  I have an S4 mini and it plays vevo videos.

[2016-04-05 22:29] glitchphan commented on #6
@Decme In the meantime try NetMBuddy from F-Droid. Make sure to manually select the newest version because the older one is starred for some reason.

[2016-04-15 10:16] husadd opened #9 "[FR] making this app like Zing Youtube? (adding its features)"
Before anything, yes it follows the TOS of Youtube API (or whatever it's called)! And it doesn't need logging in to have the features I wrote below.

I've been using Zing Youtube for around a
year and I love every feature it has, but as I see it is not supported by developers anymore and has an old bad appearence and design with an amazing performence (and missing some features).

I wish Skytube w

[2016-05-03 05:00] landry314 opened #10 "Accept passed links"
I want to hit a share button on a youtube video in another app and have skytube be in the list to accept the passed link. it should be able to go right to the video at that url.

[2016-05-03 21:01] ram-on commented on #10
Done.  Refer to issue #5.

[2016-05-03 21:01] #10 closed

[2016-05-04 04:44] landry314 commented on #10
sorry :)

[2016-07-14 11:49] goldencut opened #11 "Paste youtube/youtu.be links"
Would be nice to be able paste youtube video, maybe even playlist http links in ST.

[2016-08-11 18:07] alex9434 opened #12 "Hardware acceleration"
I really like the SkyTube app. Thank you very much for your work! However, it quickly drains my battery and my tab (Samsung Galaxy Tab 2 10.1) gets hot. VLC is able to use hardware acceleration that uses significantly less battery and keeps the device cool. Is it possible to use the video engine from VLC for SkyTube?

[2016-08-11 18:59] ram-on commented on #12
Good point.  I'll enable [hardware acceleration](https://developer.android.com/guide/topics/graphics/hardware-accel.html) for the next release.

[2016-08-21 14:47] ram-on commented on #12
Done.

[2016-08-21 14:47] #12 closed

[2016-08-21 14:50] ram-on commented on #1
Done.

[2016-08-21 14:50] #1 closed

[2016-08-21 17:39] ram-on commented on #11
Done.

[2016-08-21 17:39] #11 closed

[2016-08-21 22:04] goldencut commented on #11
Awesome, will it be pushed to F-Droid?

[2016-08-23 17:09] ram-on commented on #11
Probably next weekend or so.

[2016-09-01 18:55] waqas opened #13 "Option to set Landscape or Portrait mode for video play"
I keep screen rotation off almost all the time and I guess many folks do the same. So it is kinda weird to watch video in Portrait mode or turn on rotation which changes the whole phone's UI. It would be great if an option is available to always play video in Landscape mode. Just like there is an option for video quality.

Thanks.

[2016-09-01 18:58] waqas opened #14 "Hide title bar when scrolling down"
For maximum real estate on small screens. Like some apps hide top bar when scrolling down but show immediately when scrolled up.

Thanks.

[2016-09-01 20:50] ildar commented on #2
I see "Subscriptions" added. That's nice!
I wonder if it's possible to add "subscriptions" for search results? Then
it'd satisfy this feature request (mostly).
Thanks!

[2016-09-02 13:53] goldencut commented on #11
Thanks, nice to see things progressing. Although, the sudden jump in file size is somewhat disconcerting.. :P
One problem that I noticed is that the search box gets cleared every time user goes back from search results. Often they just want to refine the search but now they have to type the whole search string again. Maybe keep the search string and add 'x' to the end of search box to clear it qui

[2016-09-02 20:59] ram-on commented on #2
Please explain.

[2016-09-02 21:03] ram-on commented on #11
This is because I'm now using the appcompat Android library (mainly because of the subscriptions menu + material theme)

Please open a new thread/issue so that I can keep track of this feature request.

[2016-09-03 16:52] goldencut opened #16 "Keep last search string"
One problem that I noticed is that the search box gets cleared every time user goes back from search results. Often they just want to refine the search but now they have to type the whole search string again. Maybe keep the search string and add 'x' to the end of search box to clear it quickly? Maybe even add drop-down search history?

[2016-09-06 20:12] ram-on commented on #7
**To anyone who is encountering this error**:  it would be **really helpful** if you are attach the app's log file.

This can be done by:

1. Connecting your device to your computer
2. Running the app
3.  Execute:

[code]

or, ideally, by running this command:

[code]

This would be extremely helpful as I cannot reproduce this error on any or my devices.

[2016-09-07 21:54] ildar commented on #2
A "subscription" in the app isn't a real YT thing tied to an account. It's
just a link to a YT page (the channel page particularly). So can't we have
a link to other types of pages?
E.g. in WebTube you can do exactly that: "Star" any page whether it's a
channel, a video or a search result.

Ildar Mulyukov,
child of God

email: ildar.mulyukov@gmail.com
GoogleTalk: ildar.mulyukov@gmail.com
blog: htt

[2016-09-08 01:58] goldencut opened #17 "Youtu.be links error out"
Pasting links like https://youtu.be/TjJIhW0GdyQ gives: an error has occured while getting video streams for...

[2016-09-08 02:01] goldencut opened #18 "Can't open in SkyTube"
SkyTube is not listed in YouTube app for sharing.

[2016-09-08 02:09] goldencut commented on #17
I stand corrected, it's not the pasting - most videos won't play and give that error.

[2016-09-08 13:41] ram-on commented on #17
99% sure this issue is related to #7.

If you have access to `adb`, please dump down the contents of `adb log` and submit it to me as I cannot replicate that issue (i.e. the above link works perfectly on my devices).

[2016-09-08 14:01] ram-on commented on #18
Please provide more details as it is [working on my device](http://i.imgur.com/tvjF5sw.png).

[2016-09-08 14:05] ram-on commented on #2
It also notifies the user when a new video is uploaded (at app startup).

Bookmarking videos is actually a good idea.  I'll add it into my TODO.

[2016-09-10 00:14] goldencut commented on #18
![screenshot_2016-09-09-05-09-20](https://cloud.githubusercontent.com/assets/5072792/18406370/a6ac7056-7704-11e6-9f66-fe34accd5b1c.jpeg)

[2016-09-10 10:04] ram-on commented on #18
Pls paste the URL of that link.

[2016-09-10 11:40] goldencut commented on #18
What do you mean?

[2016-09-10 15:21] gayhubcom opened #20 "TV remote control can not control"
TV remote control can not control.
Arrow keys do not work.

[2016-09-10 16:27] ram-on commented on #18
Note to myself:

1. Use Firefox and go to youtube.com
2. Long tap a video thumbnail
3. Share Link

[2016-09-10 16:28] ram-on commented on #20
Android TV support shall be included for the next release.

[2016-09-11 13:25] goldencut commented on #18
Huh?

[2016-09-11 13:27] goldencut commented on #17
Have to see if the distro I have as a backup OS has adb available. Might take a few days or so.

[2016-09-15 20:02] cryptono opened #21 "Support for Android 4.0.4"
Any chance? :/

[2016-09-19 19:59] ghost opened #22 "chomecast"
will you support chromecasts in the future? or will that add APIs that would hurt the openness of the project?

[2016-09-23 18:05] theScrabi commented on #22
Someone wrote Chromecast support for NewPipe. Maybe this code could be adopted for skytube.

[2016-09-25 13:25] ram-on commented on #22
Someone is currently writing a module to support chromecast.  Unfortunately I do not own such device.

[2016-09-25 14:09] ram-on commented on #21
It should work fine on 4.0.

[2016-09-26 22:02] atomjack commented on #22
I'm working on it right now. I really don't have an ETA though, it's just when I can get some time to spend on it. It will be part of the version that lets you use the official YouTube player.

And since it has to use Google API's, we can also include support for logging in via Google in order to pull Subscriptions from your YouTube account, but that will be down the road.

[2016-09-27 20:53] ram-on commented on #7
@r4nd0m123 thank you very much.  i'll soon analyse your ADB log.

[2016-09-28 14:46] marmistrz opened #23 "Cannot open video from search"
My search was `marche slave`. I opened [this](https://www.youtube.com/watch?v=5poSw7tFLB4) video.

The following toast appeared:

    An error has occurred while getting video streams for 5poSw7tFLB4

After that the busy indicator was spinning forever.

[2016-09-28 21:54] AlphaOmega3 opened #24 "Youtube cacher"
Hi! Add an full integration with Youtube Cacher (download video).. eg "open with"..

[2016-09-29 09:22] #24 closed

[2016-10-01 17:01] CrisBRM commented on #6
Newpipe does this and it's great. I would definitely switch to skytube if you were to implement this feature.

[2016-10-01 20:29] theScrabi commented on #6
@ram-on If google TOS prevent that, we could combine NewPipe an Skytube by sending special Intends. So could add an play in background button, and if NewPipe is installed it will automatically pop up the play-in-background notification.

[2016-10-02 16:11] ram-on commented on #23
Refer to issue #7 to read how you can contribute.

Thanks

[2016-10-02 16:11] #23 closed

[2016-10-02 17:23] ram-on commented on #6
@theScrabi thanks actually quite interesting.  is such intent already implemented in NewPipe?

[2016-10-02 22:48] theScrabi commented on #6
No. Request it and it will come.

[2016-10-06 13:27] kuba-orlik opened #25 "Log in with a youtube account?"
Is there a way to log in with a youtube account in order to access one's subscriptions?

Alternatively, is there a way to subscribe a channel from within SkyTube?

[2016-10-07 21:22] atomjack opened #26 "Playback starts over after visiting channel while viewing video"
To reproduce:

- Start watching a video, and let the video play for awhile, so that the time readout displays something other than 00:00
- Tap the i icon in the bottom left to bring up video info, then tap on the channel icon to show the Channel Browser screen.
- Tap the back arrow or back button to return to the video, and notice the video starts playing from the beginning, instead of resuming fr

[2016-10-07 21:36] ram-on commented on #26
Thx @atomjack

[2016-10-08 17:46] bastadur opened #27 "[Suggestion] Add option to export subscriptions"
Yeah.

[2016-10-10 22:46] atomjack commented on #7
I think I tracked down the problem. Could some of you guys who had this problem post the youtube URL's of the videos you tried, so I can verify they all work with my fix?

[2016-10-11 11:08] r4nd0m123 commented on #7
@atomjack https://www.youtube.com/watch?v=hyPkpXZNbK0
If you need me to do any testing let me know.

[2016-10-11 17:07] ram-on commented on #7
Fixed.  Refer to 39e6bbd178ac61d46d4fc3a730e7ffe8dc7b6e1a.  Thx to everyone who contributed.

[2016-10-13 08:38] Michkost opened #32 "Navigation bar not hiding"
While playing a video the navigation bar isn't hiding. Is this intended?

[2016-10-15 18:31] naju10 opened #33 "Features request"
Hi,

Can you add these features please:

1) Add android tv support.
2) Add youtube sign in functionality
3) allow 1080p(60fps) playback

Thanks

[2016-10-16 21:18] ram-on commented on #32
Navigation bar should be hidden (automatically) when a video is playing.  You can (explicitly) tap in the middle to hide the nav bar.

[2016-10-16 21:21] ram-on commented on #33
Android TV support:  #20
YouTube sign in:  #25

1080p playback will be added in the future.  It is currently not done automatically by YT servers (i.e. you cannot just download a 1080p video + sound, but you can download a 1080p video only and then merge with sound).

[2016-10-18 23:51] atomjack opened #34 "Crash when clicking too quickly on screen when launched from external app"
When you choose SkyTube as the app to open a YouTube video from an external app, if you click on the screen too quickly, the app crashes, due to it trying to get the title for the video before the video info is loaded. This only happens when YouTubePlayerActivity is launched with an url instead of a YouTubeVideo object. Here is the stack trace(from the master branch):

`FATAL EXCEPTION: main

[2016-10-19 20:58] ram-on commented on #34
Interesting.  We can solve this by initialising the title instance var to an empty string.  What do you think?

[2016-10-22 19:27] ram-on commented on #21
It's now supported.

[2016-10-22 19:27] #21 closed

[2016-10-23 15:56] ram-on commented on #26
Done.  Refer to 22a31cc55caad64c9aa976679706fd9f2a535527.

[2016-10-23 15:56] #26 closed

[2016-10-23 18:18] atomjack commented on #34
Yeah that would probably be the best way to address it.

[2016-10-29 15:58] neomodern opened #35 "Feature request - Share video button"
Ideally similar to the YouTube app's one where 'Copy link' is available at the top, then it shows all the apps you can share with.

[2016-11-08 01:40] xtj-9182 opened #40 "Can Info and Comment Icon be made hidable ?"
Hello,
so I was wondering if it is possible to make the Info and Comment Icon hidable, since they always seem to be shown and even though they are small they are still overlaying over the video.

[2016-11-08 02:14] atomjack commented on #40
I agree. I'm not a fan of those icons showing when you're watching a video. A better plan would be for them to show somehow when you tap on the screen to show the controls.

[2016-11-08 21:41] ram-on commented on #40
I agree that a setting can be inserted into the Preferences which allows the user to hide such buttons if explicitly selected.

[2016-11-08 21:49] atomjack commented on #40
Wouldn't it make more sense to only show them when the controls show, though? I don't know of any other video player that shows any icons or controls like that - only when you tap the screen to bring up some UI should any controls ever show.

[2016-11-08 22:36] ram-on commented on #40
I was thinking about that.  I would like that comments and video desc can be viewed via a swipe.  I also want that functionality to be intuitive and not hidden. Currently when a user taps on the video, the App Bar and Bottom controls will appear.  We can put an info (video desc) icon on top of the bottom bar, however that will look at bit out of place.  Also we can't put those 2 icons in the App B

[2016-11-09 23:37] xtj-9182 commented on #40
just a thought:
we could simply add a setting to remove the icons but have it still be swipe-able this way experienced users can hide the icons and new users will see the icons making it intuitive to new users and experienced users alike.

If you can come up with something better that's fine with me too.

[2016-11-10 10:36] winter20161 opened #42 "Live Streaming does not work"
Hi,
Thank a lot for the great app. I really enjoy it.
I don't know if this happens only to me or is it a general problem: I can't open youtube live streaming using SkyTube. Whenever i try to do this, is shows: "Play Video Error. Parsing error".

Maybe i got some configuration issues? Thank you.

[2016-11-10 15:55] xtj-9182 commented on #40
I came up with a little work around that works for me but might not be good enough for a final version;
so what my changes are doing is that when there is no control element on the screen and you press on the screen the drawer icons will show up and then when you press on the screen again the drawer icons will disappear and the media controls / actionbar will appear if you press on the screen agai

[2016-11-11 22:46] ram-on commented on #40
I'll test your code to see how it behaves.

[2016-11-11 22:46] ram-on commented on #42
Live Streaming is currently not supported.  Maybe it will in the near future.

[2016-11-11 22:49] atomjack commented on #40
Hmmmm I haven't tried those changes but I'm not really a fan of having to tap the screen a couple of times. I think it'd be better to just figure out a way to integrate the description/comments controls into the existing UI that has the playback controls. Just my 2 cents.

[2016-11-23 10:53] Fatcakes commented on #40
Please ram-on. Those tiny icons ruin the experience.

[2016-11-23 10:54] Fatcakes commented on #35
Even just a copy link option would be fine.

[2016-11-23 10:55] Fatcakes opened #43 "Amoled black theme"
Having to option would be nice. Thank you.

[2016-11-23 17:18] atomjack commented on #35
I've implemented this in #41. I think Ramon is pretty busy right now but hopefully he'll have time to merge it in along with my other PR's.

Here's a screenshot: http://i.imgur.com/BsrcteI.png

[2016-11-23 22:41] xtj-9182 commented on #40
@ram-on
yeah so if it takes too long to come up with a good long term solution like what @atomjack suggested
then maybe we could just add a setting to hide them, as has been suggested before, or just use my shitty hacked together code xD. Of course these are only meant as a short term workaround until there is a good long term solution like @atomjack suggested.

[2016-11-24 21:42] ram-on commented on #40
Noted.  I comes to me as a surprise that people actually do not like it.  Anyway, I'll see what it can be done.

[2016-11-24 23:57] xtj-9182 commented on #40
my personal grievance comes from watching videos in the dark, while the icons are tiny they do stick out a lot while watching videos in the dark.

[2016-11-25 09:25] ram-on commented on #40
@xtj-9182 So how about if we change the colour of the icons from white to say dark grey?

[2016-11-26 21:30] Fatcakes commented on #40
A setting to hide them would be great.

[2016-11-27 02:10] xtj-9182 commented on #40
@ram-on I often watch videos in portrait mode so making them dark grey would be an improvement. It would still be slightly annoying when watching a video in full screen though.

[2016-11-27 02:41] xtj-9182 commented on #34
stupid question but isn't this as simple as adding a trivial null check in the line above
https://github.com/ram-on/SkyTube/blob/master/app/src/main/java/free/rm/skytube/gui/fragments/YouTubePlayerFragment.java#L275

?

[2016-11-27 05:07] Fatcakes commented on #40
@ram-on would it be possible put the video at the top in portrait mode, and display the comments under the video?

[2016-11-29 20:06] ram-on commented on #40
@Fatcakes while that is an option, that would create unnecessary complexity in the code to handle portrait and landscape modes.  The simplest solution is to change the icon colors to gray and give an option to the user to disable the side icons.

[2016-11-29 20:26] atomjack commented on #40
I still think the most optimum solution would be to figure out some way to integrate the two buttons into the rest of the UI that shows up that includes the playback buttons, seekbar, etc. I really think the best user experience is for nothing to be on the screen except the video, until tapping, then UI controls can show.

I mean, it could be as easy as just putting the info button (that appears a

[2016-11-29 21:38] ram-on commented on #40
@atomjack I agree that that might be a good solution for tablets, however I'm a bit concerned regarding small mobile devices (like mobile/cell phone) as not all control buttons may fit in such limited space.  It would be nice if you give it a try on a phone device and demonstrate how it looks.

[2016-12-01 05:15] xtj-9182 commented on #40
@atomjack I have 2 phones that I could test on if you have any code ready for your suggested improvements.

[2016-12-08 04:15] naju10 opened #44 "Any ETA regarding the next release?"
Hi,

Still waiting for android tv support.

Thanks

[2016-12-09 22:47] Lionirdeadman opened #45 "[FR] Pop up and/or minimize video"
I think it'd be useful to minimize the videos like the YouTube app does or have a pop-up mode since it's annoying to always close the video to search other videos.

[2016-12-10 20:59] ram-on commented on #44
ETA most probably will be by next Feb.  Will contain basic Android TV support.   #20

[2016-12-10 20:59] #44 closed

[2016-12-22 00:25] sthebemita commented on #32
Same here on android 5.1.1. The app's navigation bar does hide automatically and tapping, but the android one doesn't (in other youtube apps it hides automatically when you are in fullscreen mode). Also, it doesn't play in the background, but maybe this isn't a feature. Anyways, just wanted to say this is the best youtube app I've found!

[2017-01-03 08:28] TrickyAnkit opened #47 "Unable to set my custom youtube playlist"
Unable to set my custom youtube playlist  i have tried almost more than 100 times i have done changes in manifest . Build. gradle api key but still not able to set my custom youtube channel link. Please help ASAP

[2017-01-03 20:21] ram-on commented on #47
SkyTube currently cannot play YouTube playlists.  Will be implemented in the future.

[2017-01-04 02:54] TrickyAnkit commented on #47
OK thanks for the info. but please do it ASAP!

[2017-01-09 08:48] vimio opened #48 "some video of youtube can't play because of exception when decryptSignature using."
Hello.

When I play the youtube id = kIGK43-Xd8c (https://www.youtube.com/watch?v=kIGK43-Xd8c), I have below exeption errors. Please verify this errors. Thanks.

E/YouTubeVideo: An error has occurred while getting video metadata/streams for video with id=kIGK43-Xd8c
                java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a

[2017-01-09 17:54] atomjack commented on #48
This is a duplicate of #7.

[2017-01-10 20:58] ram-on commented on #48
@vimio Which version of SkyTube are you using?

[2017-01-31 09:01] daleylife411 opened #49 "Video Player Error."
This just started today.  Any time I attempt to watch a video I get a video player error: could not load decryption code for the youtube service.  I  lowered my resolution in settings and that did not help.  Everything worked fine until now.

[2017-01-31 12:48] ZaneHannanAU commented on #49
Same issue with TeamNewPipe/NewPipe and ram-on/SkyTube.

May be related to [Chromium bug 686430: Please allow disabling Widevine/EME again][widevine] and may be adopted by YouTube for no immediately apparent reason.

[widevine]: https://bugs.chromium.org/p/chromium/issues/detail?id=686430

[2017-01-31 15:03] cmv47 commented on #49
same with newpipe and skytube.decrypt error

[2017-01-31 15:04] cmv47 commented on #49
please fix this

[2017-01-31 15:08] cmv47 commented on #32
same issue ,android 5.1, please fix

[2017-01-31 15:56] Dazrok commented on #49
same here, please fix

[2017-01-31 17:29] avently commented on #49
Here is a fix
https://github.com/TeamNewPipe/NewPipe/commit/140b480f8293353280084c634392a349c2e9b27a

[2017-01-31 17:32] theScrabi commented on #49
Right this did fix it: https://github.com/TeamNewPipe/NewPipe/commit/140b480f8293353280084c634392a349c2e9b27a#diff-7b6ba4a07fd283628d0a08013a4c27fe

[2017-01-31 17:36] atomjack commented on #49
I'm looking into fixing this on Skytube right now.

[2017-01-31 17:56] atomjack commented on #49
@ram-on, I was able to get it to work by simply prepending "https://youtube.com" to what it was using for the javascript file, and didn't need to change any of the regex stuff. I'll leave it up to you to decide if the regex changes are needed.

[2017-01-31 20:26] persona5 opened #51 "Improve search?"
Would love to see search filters in the app, like in the real youtube app or website.

[2017-01-31 22:08] #49 closed

[2017-02-01 06:43] Dazrok commented on #49
how to apply the fix?

[2017-02-01 10:35] ZaneHannanAU opened #52 "Import/Export subscriptions to OPML"
Mostly for compat between F-Droid ST and STE.

Should also be decently easy:

[code]

[2017-02-01 17:40] atomjack commented on #49
@Dazrok He released a new version with the fix, it should ask you if you want to update when you launch the app.

[2017-02-01 17:54] github-throwaway commented on #49
v2.2 is not available on F-Droid yet. You'll need to download the v2.3 apk file from [here](https://github.com/ram-on/SkyTube/releases/download/v2.2/SkyTube-Extra-2.2.apk).

[2017-02-01 18:14] github-throwaway opened #53 "[Bug] Skytube Search different to YouTube search"
The Skytube Search is not showing the results the YouTube search is showing:

Doing a search for **"Drugslab"** on my N9005 running Android 5.0 the Skytube app (2.1 and 2.2 Extra) does not list the channel or any of their videos in the results. Trying to access a YouTube link from the channel via Skytube results in an *invalid video URL* error.

[2017-02-01 21:06] ram-on commented on #49
@Dazrok Yesterday I've pushed the fixed to F-Droid.  I may take around 3 days until they compile SkyTube and produce the APK.

I suggest you download it directly from [github](https://github.com/ram-on/SkyTube/releases/download/v2.2/SkyTube-Extra-2.2.apk).

[2017-02-01 21:14] ram-on commented on #53
This is an interesting bug.

[2017-02-01 21:15] ram-on commented on #52
What do you mean by ST and STE?

[2017-02-01 21:21] github-throwaway commented on #53
Here are two example screenshots.

![screenshot_2017-02-01-22-16-38](https://cloud.githubusercontent.com/assets/25488086/22526662/657a7e0e-e8cc-11e6-82b3-f9425b76422d.png) | ![screenshot_2017-02-01-22-16-16](https://cloud.githubusercontent.com/assets/25488086/22526663/657f30fc-e8cc-11e6-87ac-f6a22ad2e8ad.png)
:-------------------------:|:-------------------------:

[2017-02-01 21:30] ZaneHannanAU commented on #52
SkyTube & SkyTube Extra

[2017-02-02 18:19] cwmke opened #54 "Option To Play With Kodi"
[NewPipe](https://github.com/TeamNewPipe/NewPipe) currently has an option that allows to "Play with Kodi" which would be a nice addition to this app for users of the [youtube plugin](https://github.com/jdf76/plugin.video.youtube) in [Kodi](https://kodi.tv/).

Essentially it allows you to find videos on your phone/tablet and play them on your Kodi instance.

[2017-02-03 06:48] xamica commented on #27
Any work in this area? I want implement it, if nobody else want do it. It will be great to see some roadmap with any timeline, where I can see priority of some tasks.

[2017-02-03 06:50] xamica opened #55 "How to see "age dated" videos?"
Youtube said "you must login", but here no such functionality.

[2017-02-03 06:55] xamica opened #56 "[Request] Add some label to subscribed channels / rename channels"
I have big number of subscribed channels, but every channel was subscribed with some reason. For example, "check video about..." or "download this videos later". But without it, I can't remember reasons and have too much channels without any idea "why it here".

Also, some channels get deleted. If you will save name, it can help to remember channel name and find replacement.

[2017-02-03 06:58] xamica opened #57 "[Request] Add search history and history of viewed videos"
Some time I want to find good videos, which seen some time ago, but I have no idea how I found it. So I spending many time for scrolling all search queries of last time. Search history of history of viewed videos can solve my problem

[2017-02-03 07:00] xamica opened #58 "Output search query in it editable control"
For example, I search "some long query strAng", and don't noticed typo at right time. If I want to refine search, I must retype all string. This is very frustrating.

[2017-02-03 07:01] xamica opened #59 "[Bug] When you return to search results, you lost search title."

[2017-02-03 07:03] xamica opened #60 "[Request] Add options for disable autorefresh and return tabs in featured videos"
I like to have options for disabling this new features.

[2017-02-03 07:04] xamica opened #61 "[Request] Add video to bookmarks"
And possible button "see later videos" for viewing such bookmarked videos.

[2017-02-03 15:01] OffifialMITX commented on #61
That would be nice, maybe like in webTube where its a bar you swipe in from right?

[2017-02-03 15:04] OffifialMITX opened #62 "Videos sometimes don't play automatically"
Sometimes I have to pause the video and then start it, couldn't detect any pattern yet.

[2017-02-03 15:54] github-throwaway commented on #7
It seems that VEVO videos stopped working again. On my N9005 running Android 5.0 and the Skytube app 2.2 I get this error:

![screenshot_2017-02-03-14-52-59](https://cloud.githubusercontent.com/assets/25488086/22597606/95031090-ea30-11e6-9650-d13774e02231.png)
What's quite interesting is that it also applies to non VEVO channels. Trying to access this video (https://www.youtube.com/watch?v=fJBFvNi

[2017-02-03 16:01] github-throwaway opened #63 "[Request] Swipe subscription tab from channel view and search results"
Currently you can't access your subscriptions if you view a channel or the search results. You'll need to navigate back to the starting page.

I would suggest the possibility to access your subscriptions anytime and anywhere, except when you play a video.

[2017-02-03 22:08] ram-on commented on #7
The problem is that I can't replicate this bug whatsoever.  Anyone who is encountering with this bug and has some knowledge in Java is encouraged to contribute.  @atomjack perhaps?

[2017-02-03 22:16] ram-on commented on #27
@xamica Feel free to implement it - its in the pipeline anyway.  I would like it to be done via XML.

[2017-02-03 22:21] ram-on commented on #60
What do you mean by "return tabs in featured videos"?

[2017-02-03 22:22] ram-on commented on #62
Can you provide more info regarding this?

[2017-02-04 09:01] OffifialMITX commented on #62
I wish I could, but there is not much I can tell about it.

As I've already mentioned, I can't tell when this happens (maybe it depends on how long the first part is loading - if it takes a while maybe it doesn't play automatically, but I'm not sure).

The only thing more I can tell is that it happens on my phone and my tablet which have both stock Android 5.1.1.

[2017-02-04 10:34] xamica commented on #60
Style of previous version, when "featured" videos can be selected in combobox, not in tabs. I don't like this new feature in new version. Maybe, you can add checkbox for old style?

[2017-02-04 13:48] ram-on commented on #60
No can do.  What its going to be done is that on scroll the app is going to hide the title bar (but the tabs will remain visible).

[2017-02-04 15:58] ram-on commented on #35
Feature added to SkyTube.  Thanks @atomjack

[2017-02-04 15:58] #35 closed

[2017-02-04 17:09] github-throwaway opened #64 "[Bug] Broken channel view"
Trying to access this channel ([**NEO MAGAZIN ROYALE**](https://www.youtube.com/channel/UCNNEMxGKV1LsKZRt4vaIbvw)) I get a really interesting bug.

| ![screenshot_2017-02-03-19-35-37](https://cloud.githubusercontent.com/assets/25488086/22620035/17a74c78-eb03-11e6-8977-0fc2999bad74.png) | ![screenshot_2017-02-03-19-35-47](https://cloud.githubusercontent.com/assets/25488086/22620036/17a93a60-eb03-11

[2017-02-04 17:13] github-throwaway opened #65 "[Request] Preview while scrubbing"
I would love to see the possibility to scrub through a video with a preview.

[2017-02-05 11:29] xamica commented on #60
I think, it just waste space on screen, even on small screens. Previous version was better. I understand, you want this tabs, so I ask only about option to disable/hide it.

[2017-02-05 11:33] xamica commented on #64
I have same issue too. But refresh option don't help me anyway, I just get empty channel.

[2017-02-05 11:37] xamica opened #66 "[Bug] Pull-to-Refresh actually shows very old videos"
1. Open any channel with many fresh videos
2. Pull-to-refresh
3. You see only videos 2 months and more older
4. Pull-to-refresh again and again
5. You got videos 5+ years

This is very cool thing to scroll large channels, but it NOT refresh. And I want option to disable it.

[2017-02-05 12:07] ram-on commented on #60
What am I going to do is to:

- Hide the Title bar (when user scrolls down)
- The tab bar will still remain visible for now.

That way its going to be similar to the old version.

[2017-02-05 16:51] phly95 opened #67 "Fullscreen video playback"
I like SkyTube, but it lacks Fullscreen video playback meaning you have the comment and info slide outs as well as the navbar taking up space better spent on the video itself.

[2017-02-06 17:02] Sploof99 opened #68 "Video Parsing Error"
Certain videos only return parsing errors when trying to watch them on version 2.2; this wasn't happening on the previous version. [Example.](https://www.youtube.com/watch?v=PiNdcBg3xC8) Some channels, like [Escapist](https://www.youtube.com/user/TheEscapistMagazine) will have this error on nearly all of their videos.

[2017-02-06 20:23] ram-on commented on #68
Hello @Sploof99 Can you please quote the error message?  Or post a screenshot perhaps?

[2017-02-06 20:34] KeizerDev commented on #22
That was me, lol, I would love to implement it here too but if @atomjack already started I will just leave it to him. If you (@atomjack) have a branch are you're working on I would like to check it out 😃

[2017-02-06 21:18] atomjack commented on #22
Yeah, I'm almost done with the initial branch. Just with minimal support, as far as UI goes - just a small bar that appears in the bottom of the app when you start playing something to Chromecast, with control buttons on it (as well as notifications etc). I have to work on a few things but it should be ready soon, now that my other PR's are all merged :)

Here's a screenshot: http://i.imgur.com/3v

[2017-02-06 21:57] Sploof99 commented on #68
lI'm unable to upload a screenshot right now, but the error shows up as a plain white box with the header "Play Video Error," and under that, "Parsing Error."

[2017-02-06 23:57] Monojerry commented on #68
I also have a parsing error in certain videos.

[2017-02-07 02:23] Sploof99 commented on #68
[Here's a screenshot of the error.](http://i.imgur.com/HllYdn8.jpg)

[2017-02-07 08:08] Monojerry commented on #68
Problems with copyright-related metadata parsing? (e.g. music video)

[2017-02-07 09:20] theScrabi commented on #22
@ram-on @KeizerDev but remember if you include google play service lib you will lose fdroid support.

[2017-02-07 16:43] atomjack commented on #22
@theScrabi There are two flavors of Skytube - the OSS version and the Extra version (which isn't 100% open source). The Extra version already includes the option to use the official YouTube Player, instead of the internal one, so Chromecast support will only be in the Extra version.

[2017-02-07 17:55] theScrabi commented on #22
Alright I see :)

[2017-02-07 18:53] github-throwaway commented on #64
Interestingly enough the notifications still work for that channel.

[2017-02-07 19:54] ram-on commented on #67
I'll implement an option to hide those controls out.  Refer to #40

[2017-02-07 19:54] #67 closed

[2017-02-08 08:23] xamica opened #69 "[Bug] Crash on opening channel from subscribe panel"
Latest version on F-Droid.
Backtrace:

[code]

[2017-02-08 15:25] jEsuSdA opened #70 "[Request] Allow sharing by e-mail"
It will be nice to allow sharing a Youtube video link by e-mail.

Nowadays I must to open the video on the web browser and then share the url by e-mail. ;)

[2017-02-08 15:27] jEsuSdA opened #71 "[Request] Allow import/export subscription list"
It will be nice to be able to import or export the subscription channel list to a single file.
It is useful when reinstalling SO or App. ;)

Thanks for this nice app. It is great!

[2017-02-08 18:33] atomjack commented on #70
This functionality is included in #41. I imagine it will be in the next release.

(You will be able to share a video, which uses Android's standard sharing prompt, so you will be able to choose your Email client)

[2017-02-08 20:00] jEsuSdA commented on #70
Great!
That are great news!

Thanks a lot for your work and efforts. Cheers! ;)

[2017-02-08 20:00] #70 closed

[2017-02-08 20:17] atomjack commented on #66
Ok I can verify that this is indeed present on v2.2, however on the `master` branch, it works fine. It must have been in the original feature and I must have fixed it in one of my subsequent Pull Requests. @ram-on, do you think you're going to release a new version soon from `master`, with Subscriptions and everything else?

[2017-02-08 21:49] ram-on commented on #66
@atomjack Although this might be fixed, these is still some issues with the channel fragment.  For example, I'm subscribed to Zepherus channel:  even though this channel has videos, SkyTube thinks that there are no videos.

Before we can release the next release, we need to fix the recently introduce bugs.  The sooner these are fixed the better.

[2017-02-08 21:51] ram-on commented on #71
I agree with your suggestion.  It is on the high priority list.  Please refer to #52.

[2017-02-08 21:51] #71 closed

[2017-02-08 21:58] ram-on commented on #69
Hi, can you please indicate which channel you are trying to open?

[2017-02-08 22:35] atomjack commented on #66
@ram-on I looked into this, and for some reason the YouTube Data API is not returning any uploads (in the Activities List) for this channel. Very strange, as it appears to work for every other channel I've tried. Do you know of any other channels that are not showing any videos? As far as I know it should list any uploads, which is what those videos are.

If you'd like to try it, the channel ID yo

[2017-02-09 06:06] waqas opened #73 "Auto-rotate video when playing, even if device's auto-rotation is off"
I always keep auto-rotation off to avoid accidental app layout changes, but when playing video, it should auto-rotate regardless, just like VLC does.

[2017-02-09 17:15] ram-on commented on #73
Similar to #13.  Most probably I'll add a button to the UI so that users can manually rotate video.

[2017-02-09 17:49] ram-on commented on #66
@atomjack ijustine channel on displays the videos of the last 1 month.  Its very strange.

[2017-02-09 17:54] xamica commented on #69
Almost 50% from my list, too much for channel-specific problem

[2017-02-09 17:56] xamica commented on #73
NO, this most annoying feature in original youtube client! If I forbid rotation in options, I don't to rotate it. If you do this feature, I request option to DISABLE it.

[2017-02-10 22:59] virendradj opened #74 "why its not on play store"
Is there any issue  agains YT terms of service??

[2017-02-11 10:35] ram-on commented on #74
Most probably it goes against their Terms of Service in some way or another.

[2017-02-11 12:12] #74 closed

[2017-02-11 14:30] Shtirla opened #75 "[Feature request] Add ability like video blocker plugin for ff/chrome/opera"
Its really need for android

[2017-02-11 19:59] atomjack commented on #69
@xamica, please give some examples.

@ram-on, if he doesn't, I say close the issue.

[2017-02-11 20:03] atomjack commented on #66
@ram-on I just checked the ijustine channel on master and it displays the most recent videos as you'd expect, no matter how many times I refresh. Is this happening for you on master? Or 2.2?

[2017-02-11 20:11] atomjack commented on #64
@ram-on I got this as well (no videos showing up at all, though), although it looks like it's due to the channel having its language set to German. Once I checked the box for German in the Preferred Language option, the videos showed up just fine.

I noticed [here](https://github.com/ram-on/SkyTube/blob/master/app/src/main/java/free/rm/skytube/businessobjects/YouTubeVideo.java#L289) it's filtering

[2017-02-11 20:16] atomjack commented on #61
How about a "Saved" tab (next to Featured and Most Popular, and after the Subscriptions tab which has been merged but not released yet)? I wouldn't mind implementing this. I will add an option to the new video options menu (that has copy to clipboard and share) to add to saved (or remove, if it's already saved), and then on the Saved tab, it could have a remove from saved option.

I will also see

[2017-02-12 02:25] atomjack commented on #61
How does this look?

![image](https://cloud.githubusercontent.com/assets/114672/22859135/1d52b2e6-f087-11e6-8385-6285aa39f254.png)

![image](https://cloud.githubusercontent.com/assets/114672/22859138/24dd3c2a-f087-11e6-8ba5-f392eb0cd297.png)

![image](https://cloud.githubusercontent.com/assets/114672/22859140/2995f48c-f087-11e6-9e1f-04370289b1fc.png)

Drag & Drop to reorder:
![image](https://cloud

[2017-02-12 10:55] ram-on commented on #75
I think what you need is for SkyTube the ability to block by channel right?

[2017-02-12 10:57] ram-on commented on #61
I like it @atomjack.  Well done.

[2017-02-12 11:25] ram-on commented on #66
@atomjack It is replicable on version 2.2.

[2017-02-12 11:31] ram-on commented on #64
@atomjack I agree.  I'll disable any filtering by default, and then let the user filter by language.

@github-throwaway Go to Preferences -> Preferred Lanuages(s) -> Select German.

[2017-02-12 11:31] #64 closed

[2017-02-12 14:13] ram-on commented on #66
@atomjack Just to clarify:  ijustine channel is only displaying (at most) videos that are 1 month old; i.e. if you scroll down, the app is unable to get older videos.

[2017-02-12 17:28] Shtirla commented on #75
Right.

[2017-02-12 17:28] Shtirla commented on #75
Right.

[2017-02-12 19:43] ram-on commented on #53
Resolved.

[2017-02-12 19:43] #53 closed

[2017-02-12 19:58] github-throwaway opened #77 "[Request] Add notification to Subscription Icon"
**This might be irrelevant, if you introduce a subscription tab.** I was reading something like this a couples of days back.

However, if you don't plan on this, I would suggest to add a Netflix-styled notification icon, if any any new videos are uploaded to your subscriptions. See Example below:

![20170209_164502](https://cloud.githubusercontent.com/assets/25488086/22865463/8582d844-f165-11e6-8d

[2017-02-12 20:36] ram-on commented on #77
That side menu will most probably be removed and replaced by a tab in order to increase visibility to that functionality.

[2017-02-12 20:37] #77 closed

[2017-02-14 20:35] OffifialMITX commented on #62
Oh, I actually did find a pattern, it was way easier then I thought - it just happens every time on my tablet. I have no Idea how I could have overseen that...

[2017-02-14 21:02] ram-on commented on #61
Added the "bookmark videos" feature.  Will be released in the next release (hopefully this weekend).

Refer to commits:
* f86e6a19e4d74c05585f1c5f1807542cda3a90f4
* 3dcdc8f589ccc6ee969c8604874c90f00c677fad
* 56e34353eda03cde5909fdfb4829b2208a3b2d6d

@atomjack thx

[2017-02-14 21:02] #61 closed

[2017-02-15 17:58] avently commented on #68
[SkyTube.txt](https://github.com/ram-on/SkyTube/files/777944/SkyTube.txt)
Did it help?

[2017-02-15 20:21] atomjack commented on #61
@ram-on I noticed there are still some references to "Saved" in the code, as well as in `strings_preferences.xml` (for setting the default tab). I'm going to do another PR with the preferences fix (so it says Bookmarks instead), but should I also change all the code to replace Saved with Bookmarks? For instance, the method to retrieve all bookmarks is called `getSavedVideos` still. I figure it wou

[2017-02-16 19:38] ram-on commented on #61
@atomjack Yes I agree with that change.  Pls do a pull request.

[2017-02-16 19:40] ram-on commented on #68
@avently thx.  I'll look into it very soon.

[2017-02-17 16:13] ram-on commented on #68
Bug resolved (refer to commit 6319cea09bdce6ad4ffcb1646a59b52590918b5e).  Thanks for reporting it.

[2017-02-17 16:13] #68 closed

[2017-02-19 12:57] ram-on commented on #34
Resolved.

[2017-02-19 12:57] #34 closed

[2017-02-19 13:31] ram-on commented on #59
Fixed.  Thx for reporting.

[2017-02-19 13:31] #59 closed

[2017-02-19 15:17] ram-on commented on #58
Implemented as requested.

[2017-02-19 15:17] #58 closed

[2017-02-19 15:20] ram-on commented on #66
@atomjack The channel "Primitave Technology" is also now showing any videos.

[2017-02-19 16:32] ram-on commented on #66
Reported the bug to YouTube/Google:  https://issuetracker.google.com/issues/35553086

Issue resolved by reverting to the old code until they resolve the issue.

[2017-02-19 16:32] #66 closed

[2017-02-21 04:12] MadMaverick9 opened #79 "How do I bookmark a video?"
I now see the "Bookmarks" tab when I open SkyTube 2.3.

But when I play a video, the menu still only shows "Open with...".

I don't see a menu item to add the current playing video to the bookmarks.

And it would be nice to have a "Copy URL" menu item as well to copy the url of the current playing video to the clipboard.

Thank you.

[2017-02-21 13:22] anoymouserver opened #80 "More selectable Default Tabs than in the GUI"
Under Preferences → Other you can choose between 4 default tabs, but there are only 3 in the GUI.
If you select the 3rd (`Subscriptions`) or the 4th (`Saved`) it will be always selected the last tab in the GUI.

[2017-02-21 18:05] atomjack commented on #79
You bookmark a video from within the app itself:

![screenshot](http://i.imgur.com/GBIprbE.png)

When you say "Open with...", where are you seeing that? When you click the link to a youtube video from another app (like a browser)?

[2017-02-22 06:52] cwmke commented on #54
Can open links by selecting Open With Play on Kodi. If Kore is installed this works great.

[2017-02-22 06:52] #54 closed

[2017-02-22 07:42] MadMaverick9 commented on #79
Oh - Ok. Not really where I was expecting it. Thank you.

The screen where the video is played, is within the app also. No?

1. Run SkyTube
2. Open video
3. Press Menu Button and see menu with only "Open with..."

All within SkyTube. No other app involved.

[2017-02-22 15:53] kilroy01 opened #84 "[Request]Watch videos in an external video player"
A way to watch videos in an external video player, like MX Player would be amazing. Also, i imagine if i uninstall the app, i lose the subscriptions, so a way to create an account or something to save them would be very useful. Let me know if i can helf you with translations.

[2017-02-22 18:40] ram-on commented on #79
@MadMaverick9 Such feature will be added for the next release.

[2017-02-22 19:58] ram-on commented on #84
Regarding the MX Player:  have you tried to watch the video using SkyTube and then (from the menu) click on "Open With"?

Regarding the subscriptions:  I agree.  I will introduce an export/import subscriptions functionality.  #27 & #52

Regarding translations:  Yes pls - any help is appreciated.  Currently the app is translated in English, Spanish, Hungarian, Polish and German.  What languages are

[2017-02-23 12:15] kilroy01 commented on #84
When i click on "Open With" it opens the video with the official Youtube app, i'll mess around with it a bit more, maybe i get it to work.
I'm fluent in Romanian. If you want to, you could set up a project on Zanata (translate.zanata.org) so it would be easier for people to translate.

[2017-02-26 02:01] github-throwaway opened #85 "[Bug] An error has occurred while getting subscribed channels."
The newest version of SkyTube has no content what so ever.
I get an error message (see screenshot) but other than that the app remains empty. So even if you search for stuff nothing shows up.

![screenshot_2017-02-26-02-49-02](https://cloud.githubusercontent.com/assets/25488086/23336412/de898266-fbcf-11e6-9d4f-0affdcf54b13.png)

**N9005 | Android 5.0 | SkyTube 2.3**

[2017-02-26 02:38] SpotComms commented on #85
Its not a bug, the API key used has hit its quota, that or Google disabled it. It's something @ram-on will have to check.

[2017-02-26 07:22] MadMaverick9 commented on #85
This is bad.

Interestingly when I searched for "pull the rug from under you" on ddg, the second link was: https://www.reddit.com/r/programming/comments/5mwkbz/using_google_apis_is_as_stupid_as_ever_theyll/

Whilst I much appreciate the work you are doing - I really like SkyTube, because it is better than the default youtube application - developing for a platform that you do not control seems a b

[2017-02-26 11:02] xamica commented on #85
Confirm problem with key.

But applications like youtube-dl will never affected by this problem, as here no keys at all.

Backtrace:
[code]

[2017-02-27 17:51] ram-on commented on #85
On the 24th, 25th and 26th Feb, SkyTube reached the daily quota of 1,000,000 queries.  The only solution for now is to have 2 different API keys, both owned by 2 different persons.

For the future, I would like the app to become less dependent to the YouTube API.

[2017-02-27 17:59] SpotComms commented on #85
@ram-on Wouldn't changing the subscriptions list to only refresh manually help? Along with adding options for the user to disable the currently featured/popular pages.

You could also add an option for the user to input their own API key, like how Kodi's YouTube app does. And you can add a fallback scraper option once it is the quote is hit (granted its a *lot* of work).

[2017-02-27 20:28] ram-on commented on #85
I like that idea - will be implemented for sure.

[2017-03-01 03:22] MadMaverick9 commented on #79
This can be closed.
See [Bug 85](https://github.com/ram-on/SkyTube/issues/85).

[2017-03-01 03:22] #79 closed

[2017-03-02 16:48] github-throwaway opened #86 "[Bug] No notifications despite new videos on channels"
Since SkyTube 2.3 I'm missing the red dot in the subscriptions drawer when a channels uploads a new video. This affects all channels.

Is anyone else experiencing this issue?

**N9005 | Android 5.0 | SkyTube 2.3**

[2017-03-04 04:39] xamica commented on #86
Me too

[2017-03-04 07:18] Zebouski opened #87 "Videos stop playing after 6 minutes"
Title says it all. Every video will do this, full stop after about 6 minutes and the play/pause cease to work. Pressing the back-5s button restarts the video but having to do this every 6 minutes can get very annoying on long videos.

NewPipe has the same exact problem, which makes sense since it seems both use the what looks like the same video player.

Using CyanogenMod 13
Android 6.0.1
Have not

[2017-03-04 19:57] Dazrok commented on #86
same here

[2017-03-09 22:14] brok85 opened #88 "UI responsiveness question"
Dear SkyTube Developers,
I am implementing a hang-bug detection tool and I am analyzing SkyTube with it (master version commit number  3da671c). I found that the main thread of SkyTube frequently calls

`org.ocpsoft.prettytime.PrettyTime.<init>(PrettyTime.java:71)`

often, for example, when the main activity is resumed. When this happens, a hang of about 0.5 seconds is generated. The following ext

[2017-03-10 09:48] github-throwaway opened #89 "[Request] Subtitle Support"
I would love to see support for subtitles/closed captions.

[2017-03-10 19:11] ram-on commented on #88
@brok85 Hi, Thank you for your input.  In fact, I've recently noted that the app is a bit lagging/stuttering when the videos grid is scrolled.

I agree completely.

I would love to get a copy of this tool!  It would be really useful.

[2017-03-10 19:33] atomjack commented on #88
@ram-on I just implemented a fix for this, that sets the pretty format of the publish date (for both videos and comments) in a background thread (via AsyncTaskParallel). You can see it [here](https://github.com/atomjack/SkyTube/commit/8ab71fa03812ea77becde6d206a00310ee415050). Let me know what you think and if it looks ok, I'll do a PR.

[2017-03-10 19:35] brok85 commented on #88
Thanks a lot for the feedback!

I am still working on the tool so your feedback is very important.

The fix looks good to me! I can test the new version again and tell you how it goes if you like.

[2017-03-10 19:43] ram-on commented on #88
@atomjack While I agree with your fix, the main issue here is with the Videos Grid fragment.  Perhaps you take a look into that fragment as well?

[2017-03-10 19:58] brok85 commented on #88
I made some preliminary test with the new version and those hangs do not occur anymore. I will keep testing however to see if I can find anything else.

[2017-03-10 20:55] atomjack commented on #88
@ram-on I agree that the main issue is the Videos Grid fragment, however @brok85 found that that call to format the date was hanging a bit (and the call to `YouTubeVideo.getPublishDatePretty` is happening in `GridViewHolder.java`, so it's being called for each and every video that is displayed in the grid). Do you think you could pull down my branch and try it out on your tablet to check if you se

[2017-03-10 21:19] ram-on commented on #88
@atomjack Yes I'll try out your code tomorrow and will let you know how it went.

[2017-03-12 19:35] atomjack commented on #22
I just pushed up a new branch to my fork, that adds preliminary Chromecast support. You can check it out [here](https://github.com/atomjack/SkyTube/tree/chromecast). Some notes:

1. There is no full screen UI/controller yet, just a small panel on the bottom of the screen when a video is playing to a Chromecast. You can rewind 10 seconds, pause/resume, stop, and fast forward 30 seconds from this pa

[2017-03-12 20:59] atomjack commented on #85
@ram-on I just made a PR that adds a Preference for the user to enter their own YouTube Data API key, please check it out! When you hit ok after entering(pasting) the API key, it attempts to do a simple call using the entered key (basically gets one featured video), to make sure it's a valid key. If it's invalid, it resets it back to null.

[2017-03-13 21:04] ram-on commented on #22
I'll check it out.  @KeizerDev Your feedback will be appreciated

[2017-03-14 22:24] Daytor opened #91 "The app can't open video notification links sent by youtube via email"
It doesn't recognize the url

[2017-03-15 08:29] xamica opened #92 "[Request] Add volume control"
I want to control volume of a clips in the player, not in whole system.
Usually I have some other apps with sound, running in background, adjusted to comfortable volume level. And when I see any clips on youtube, I forced change sound level everywhere: in system, in background apps. But wait, why not to control it in player?

If you can gain volume, like 200% in VLC, it can be a lot better.

[2017-03-15 08:29] xamica commented on #57
Any work in this area?

[2017-03-15 17:22] ram-on commented on #57
Not yet.  It's a low priority FR for now.

Regarding the above:  this issue is now resolved due to the bookmarks feature.

[2017-03-25 19:45] ram-on commented on #80
Fixed.  Refer to commit 8d0dd552b9c6bb014fd8031c5e7bcf687a64ece2.

[2017-03-25 19:45] #80 closed

[2017-03-25 19:45] ram-on commented on #86
Fixed.  Refer to 8d0dd552b9c6bb014fd8031c5e7bcf687a64ece2.

[2017-03-25 19:45] #86 closed

[2017-03-26 12:25] ram-on commented on #42
Partially resolved.  Ideally, in the future, the app will be able to play live videos from within itself.

[2017-03-26 15:24] ram-on commented on #91
Resolved:  b6b335a88c24fe3f46bee0f06d07536783e5daa0.

[2017-03-26 15:24] #91 closed

[2017-03-30 11:33] virat-shukla opened #94 "crash - IllegalArgumentException: You cannot start a load for a destroyed activity"
03-30 17:01:57.380 4155-4155/free.rm.skytube.extra E/AndroidRuntime: FATAL EXCEPTION: main
                                                                     Process: free.rm.skytube.extra, PID: 4155
                                                                     java.lang.IllegalArgumentException: You cannot start a load for a destroyed activity

[2017-03-30 20:30] ram-on commented on #94
Can you pls indicate how this exception was triggered?  Do you have any procedure how to replicate it?

[2017-03-31 11:34] daleylife411 opened #95 "[Request] Allow us to search by Upload Time ("Today", "This Month", "This Year.""

[2017-03-31 11:37] daleylife411 commented on #40
Just commenting here that I also would like these two buttons to not always be displayed.

I think pressing on the screen and having the info come up works just fine.

(Of course, Youtube just pushed a UI change where you have to dismiss all the options by pressing an X, which I really dislike.)

[2017-04-02 08:04] daleylife411 opened #96 "Playing in background mode stops working after a drew minutes"
I have a galaxy s7 and previously, background mode worked perfectly unless I was in power save mode.

But now, with Nougat, no matter what mode the phone is in, background mode doesn't always work.

[2017-04-02 14:56] ram-on commented on #96
SkyTube never officially supported background play.  I'm surprised that it worked on S7.

[2017-04-03 03:31] daleylife411 commented on #96
Yes, as long as I wasn't in power saving mode, background Mode worked flawlessly. But gauging by your reply it doesn't look like you're actively going to be supporting that? That's really a shame because I was using skytube to listen to music.

[2017-04-03 20:36] ram-on commented on #96
@daleylife411 Proper background will be added in the future.  Refer to #6.

[2017-04-03 20:36] #96 closed

[2017-04-08 16:20] ram-on commented on #85
Resolved.  Refer to c92616cc61797be1aaa53c0fd00732b2607ef945.

[2017-04-08 16:20] #85 closed

[2017-04-08 16:22] ram-on commented on #88
@brok85 any updates regarding your tool?

[2017-04-08 16:24] ram-on commented on #87
@Zebouski I cannot replicate this problem.  Used multiple devices.

[2017-04-08 16:24] #87 closed

[2017-04-09 10:24] ram-on commented on #69
This should be solved by now.

[2017-04-09 10:24] #69 closed

[2017-04-09 10:26] ram-on commented on #62
Cannot replicate this bug even though multiple devices and emulators were used.  Closing it for now.

[2017-04-09 10:26] #62 closed

[2017-04-09 10:46] ram-on commented on #17
No feedback given & cannot replicate the issue.  Closing it for now.

[2017-04-09 10:46] #17 closed

[2017-04-09 12:16] ram-on commented on #32
Fixed.

[2017-04-09 12:16] #32 closed

[2017-04-14 22:42] ZaneHannanAU opened #97 "[Bug] Crashes at launch while getting subscribed channels"
Well, it starts: https://i.imgur.com/MrD3T6G.jpg

Then it crashes citing error in subbed channels: https://i.imgur.com/LHXVpGp.png

Version: 2.4

Subscription list: unknown, crashes during fetch.

[2017-04-15 09:19] ram-on commented on #97
Thx for reporting.  Please submit the stacktrace / exceptions log.

[2017-04-15 10:59] ZaneHannanAU commented on #97
Seems to have fixed itself over the day...

[2017-04-16 21:11] Poomex opened #98 "Can I use the YouTube API to get my subscriptions into SkyTube?"
Is this even possible? I'm not a programmer, but since you've added the option I have created an API key and set it up in SkyTube. However I'm not really entirely sure what this is for. Sorry for the noob question. :)

[2017-04-16 21:23] Blistic opened #99 "App shuts down with NullPointerException on start up as a result of daily usage limits"
[code]

[2017-04-16 21:42] Blistic commented on #99
Apologies, I see that you've already fixed this upstream with commit db2880d99168d5427. Closing.

[2017-04-16 21:42] #99 closed

[2017-04-17 06:50] ZaneHannanAU commented on #97
Seems broken again, I'll see if I can send it by email.

My setting is to open on feeds so that might be the issue.

[2017-04-17 10:11] KabbAmine opened #100 "[FR] Get channels in search results"
I really like your app, good job.

Sometimes I can't remember the video's name but I remember the channel's name, so it will be great to get channels directly in the search results.

Is that hard to implement?

[2017-04-17 18:17] ram-on commented on #100
It's already implemented.  All you need to do:

1. Search for the channel (by using the search box)
2. Videos related to that channel will appear.
3. Click on the bottom part of the video's cell as shown here:  http://i.imgur.com/F4YQ6uh.png

[2017-04-17 18:22] ram-on commented on #97
@ZaneHannanAU I've just tried to open one of YouTube's feed emails and it worked great.  Maybe you can upload the email that is causing you the crash  so that I can give it a try?

[2017-04-17 18:27] ram-on commented on #98
Hello @Poomex

- In order to communicate with YouTube, the SkyTube has been assigned a 'key' by Google.
- However, each key can only be used X amount of times daily.
- Lately SkyTube has become quite popular and we are exceeding the key limits.  When the limits are exceeded users cannot use the app (i.e. SkyTube will be unable to communicate with YouTube).
- By using your own private key, you'll b

[2017-04-17 18:58] Poomex commented on #98
I see, so this has nothing to do with subscriptions, it just takes the load off your API key. I'm going to use my own to lighten the burden, beacuse SkyTube is easily the best FOSS YouTube app there is and I'd like to support it in some way. Thanks!

[2017-04-17 18:58] KabbAmine commented on #100
Great, thanks.

[2017-04-17 18:58] #100 closed

[2017-04-17 19:17] ram-on commented on #98
Thanks for the support.

[2017-04-17 19:17] #98 closed

[2017-04-18 07:24] rapi3 commented on #97
Totally fail on this last update from Fdroid on an Yoga-2 1050F - android 5.0.1 ( rooted and google free ).
Crashed at start unable to process subscribed channels, tried to reinstall the previous version that load but no more saved channels and also not work any more.
Deleted everything related to SkyTube and reinstaled the last version but is unable to performs multiple searches or add bookmarks.

[2017-04-18 14:42] gtx155 opened #101 "[Bug]No new videos in feed tab"
When i subscribe for some one it should show their recent videos but it doesnt.To fix this i unsub and sub again from the list of subs.I hope this will be fixed in the next update.The app is great tho

[2017-04-18 14:48] gtx155 opened #102 "[Bug]Info button"
When i press the info button in a video it takes the whole screen and can not be closed.Hope this will be fixed in the next update.

[2017-04-18 18:41] ram-on commented on #97
@rapi3 Can you submit the error/exception log?

@ZaneHannanAU Pls ignore my last response!  I think I confused your reply!

[2017-04-18 18:41] ram-on commented on #102
Pls submit a screenshot of what happens when you click on the info button (as mine works great).

[2017-04-18 18:43] ram-on commented on #101
Can you pls reword it as I cannot understand your statement

[2017-04-18 18:51] gtx155 commented on #102
https://i.imgur.com/2BSeA8S.jpg

[2017-04-18 18:58] gtx155 commented on #101
i subscribe for someone and go to feed tab and reload but there arent any videos from the channel  i subed for

[2017-04-18 20:15] ram-on commented on #102
@gtx155 You have a very low resolution phone is assume, correct?

[2017-04-19 03:54] gtx155 commented on #102
yes

[2017-04-19 17:01] github-throwaway opened #103 "[Bug] Change in screen orientation causes SkyTube to crash"
This happens in two scenarios:

1. While browsing SkyTube a change in screen orientation will instantly cause a crash of the app.

2. If a change in screen orientation occurs while watching a video, the app will crash once you either use the back arrow in the top left corner or the back button. However, switching the orientation back and forth while playing a video won't cause a crash.

This error

[2017-04-19 18:32] ram-on commented on #103
Hello @github-throwaway

I fixed that issue at commit d3a0babce5f0f041d0a253e867e5e754f58e477a.  For some reason, F-Droid did not capture it...  If you can't tolerate such crashes, then switch to SkyTube Extra.

In any case, I shall push the next release for this weekend and this will be resolved.

[2017-04-23 19:34] ram-on commented on #103
Released v2.41.  This issue should be resolved.  Thanks 4 reporting.

[2017-04-23 19:34] #103 closed

[2017-04-25 16:31] murnur19 commented on #97
Something about quota, maybe that's why sometimes its work sometimes doesn't.
[code]

[2017-04-25 20:24] ram-on commented on #97
@murnur19 Thanks for the log.  I'll look into it.

[2017-04-29 13:22] ram-on commented on #97
Should be now fixed.  Refer to ce9d8f7c3074663dd0acff00225d69c407d3e89c.

[2017-04-29 13:22] #97 closed

[2017-04-29 23:35] ZaneHannanAU commented on #97
Yep, fully functioning again 👍

[2017-05-04 15:47] 1lk opened #105 "Subscription feed not showing videos"
Hello! I added the youtube data api key but the subscriptions feed doesn't display anything (says I don't have any subscriptions). How can this be fixed?

[2017-05-04 16:56] aykutkaraca commented on #105
Have you subscribed to any channel?

[2017-05-04 17:02] 1lk commented on #105
Yes, I have. Actually 865 subscriptions. The API also seem to show it's pulling requests http://i.imgur.com/7ANMLAy.png but no data is going back?

[2017-05-04 17:52] aykutkaraca commented on #101
If I am not wrong feed tab shows videos that are uploaded by the subscribed channel after the subscription date. Ram can correct me if I am wrong.

[2017-05-04 20:11] ram-on commented on #105
@1lk I've entered a custom key and I can still retrieve the subscriptions and the feed.

Can you please attach the ADB log?

[2017-05-06 09:12] alex9434 commented on #12
great, thanks!

[2017-05-07 11:13] Trollkragenhemd opened #106 "[Request] Sort Subscription list alphabetically"
I think sorting the subscription list would be a good improvement and would propably only require adding a .sort() in the right place, so I guess there's no reason not to do it, right? :)

[2017-05-07 19:28] ram-on commented on #106
I'll put the sorting option in the preferences.

[2017-05-08 17:26] atomjack commented on #94
By the way, I am getting this as well, on `master`, using the OSS variant (it also happens with the Extra Variant and my Chromecast branch). It seems to have something to do with Glide. For me, I start up the app, and everything is fine. Hit the back button, to exit the app, back to my homescreen, and then launch the app again, and I get the crash. I will note that my stacktrace is slightly differ

[2017-05-08 20:10] ram-on commented on #94
@atomjack good catch.  I'm triggering that as well when using your approach.  I'll take a look.

[2017-05-10 08:14] poppypundit opened #108 "Won't request permissions, Nougat ( Full Net access)"
It won't ask permissions, Hence it doest connect to internet services, Wi-Fi nor Data. Running Lineage OS, 7.1.2 in LG G3.

[2017-05-10 19:49] ram-on commented on #108
Hello, I've tested it on stock Android 7.1.1 and it works great.

Can you please describe what is not working?

[2017-05-11 04:23] poppypundit commented on #108
Featured, Most popular, Feeds etc...nothing loads. It wont let me search for videos either. When I checked the "app info" under settings, permissions tab for the app is greyed out. I wasn't asked for net access either.

It works great on KitKat. I don't use a YouTube app API on either device.

Thanks for the app. I really love it!

[2017-05-11 17:44] poppypundit commented on #108
Suddenly working now! Huge surprise, not sure what happened. Sorry for the trouble! Closing this issue. Permissions are still greyed out though!

[2017-05-11 17:44] #108 closed

[2017-05-12 16:58] Generator opened #109 "[Request] Swipe controls"
Add swipe controls to Volume, Seek and Brightness, like on some other players (VLC, NewPipe).

Noting wrong with onscreen controls, but swipe can be useful and fluid, could be optional (not enabled by default).
Also ability do select what controls to use (onscreen, disable Volume, Seek or Brightness swipe control)

[2017-05-15 12:16] ram-on commented on #94
Resolved.

[2017-05-15 12:16] #94 closed

[2017-05-15 12:17] ram-on commented on #7
This should be resolved now due to d249e5f848b0338d549df580fb08ea3d69b0b987.

[2017-05-15 12:17] #7 closed

[2017-05-15 22:00] Blistic opened #111 "[Bug] Consistent crashing when pressing a back button from a playing video"
I'm running version 2.41.  The crash happens consistently and with an identical error log:

[code]

[2017-05-16 07:51] ram-on commented on #111
Hello @Blistic,

I've committed a fix to that bug yesterday (36131feaf434dc6964e740c16900cbb3b7ee1d91).  Version 2.5 shall soon be released (hopefully by this weekend).

As a result, I'm going to close this issue for now.  If the bug is still present in the next version of SkyTube, please re-open it.

[2017-05-16 07:51] #111 closed

[2017-05-24 11:55] bougsid opened #115 "Floating video mode"
I see that the only important feature that still messing is playing video on floating mode (Popup), the user still watch its favorite video while he is using another apps.
It will be a big enhancement as user (including me) look for this feature and there is one app on play store offering it but it  messed a lot of SkyTube awesome features.

[2017-05-24 20:28] #13 closed

[2017-05-24 20:29] ram-on commented on #13
Resolved as per commit 43826527cfbfc0d882e1bb8d2a8f12003ed10f0b.

[2017-05-24 20:30] ram-on commented on #73
Resolved as per 43826527cfbfc0d882e1bb8d2a8f12003ed10f0b.

[2017-05-24 20:30] #73 closed

[2017-05-24 20:31] ram-on commented on #115
That's a nice to have feature.

[2017-05-28 21:22] Ajtak opened #116 "[Request] Autoplay next videos"
Hi,
is possible add autoplay for next video's after current video end, as it youtube on web?

[2017-05-31 05:49] baskervald opened #117 "Immersive mode video player"
Trying out SkyTube right now since I've been wanting to get away from the default player for ages and I love it so far, but actually having the video full screen so you don't have to see the navigation bar when watching the video would put the icing on the cake. Also possibly the ability to hide the info and comments icons that overlay on the top right and bottom left corners of the video would be

[2017-05-31 05:51] baskervald commented on #117
At first using the actual YouTube player seems like a solution, but then you aren't able to open the comments nor the video information, which is an important part of navigation.

[2017-05-31 20:16] ram-on commented on #117
Identical to issue #40.  However I'll leave your request open as I like your wording (i.e. immersive mode).  I'll put such option in the preferences/settings.

[2017-06-01 11:00] suliemail opened #118 "[Request] Audio only format; option for disable sample pictures"
Hello!
It will be good if users can choose more formats for example audio only, video only and a combination of audio only, video only formats (like in youtube-dl).
The most important is audio only format, because a lot of people use youtube for playing music and they can save mobile data with this option. I think an option for disable sample pictures is good too.
Thank you ahead!

[2017-06-11 07:58] Blistic commented on #111
Hi @ram-on sorry I've been away for a while, but I upgraded to version 2.50 from F-Droid and unfortunately the app still seems to crash consistently upon pressing any back button from a video (either android back, or the within-app back button). The traceback appears to be pretty much the same as last time - maybe version 2.5 in F-Droid hasn't got the fix?  I could pull and compile the latest gith

[2017-06-11 08:02] Blistic commented on #111
Also, I do not have the ability to re-open this issue and didn't want to create a new one to confused things, so I just left the comment.

[2017-06-11 08:35] Blistic commented on #111
@ram-on As an update, I've now compiled from source with the latest commit 62edab8e962bbade66fe94a86c2d80e05b9c5de2 and I still get the above traceback error when pressing the back key.

[2017-06-11 10:23] ram-on commented on #111
@Blistic I cannot seem to replicate your crash.

* What Operating System are you using and what version?
* What device are you using?

[2017-06-11 11:55] aykutkaraca opened #119 "Rules to use the code"
Hi Ram-on,

I delightfully use your skytube. This isn't an issue but a question. I am new on github so if it isn't the right place I am sorry.

What are the rules to use your code for building another app based on skytube? It can be free with ads or for paid app. Can I use your code and modify it?

Thanks in advance,
Aykut

[2017-06-11 14:43] ram-on commented on #119
You can distribute the app with ads provided that the source code remains open-source and available to users.  These are the terms of the GNU General Public License (version 3.0).

[2017-06-11 15:22] Blistic commented on #111
@ram-on I'm running Android 7.1.2, with CopperheadOS (https://copperhead.co/android/) which is very closely tied to stock android, so I'm surprised it isn't reproducible. The device is a Lexus 5X.

I have fixed the error on my side by following advice I found in the following thread (which also suggests this problem may be common with glide) https://github.com/bumptech/glide/issues/1097, the first

[2017-06-11 15:52] ram-on commented on #111
@Blistic I prefer the first one as it is simpler.  Please do a pull request.

[2017-06-14 02:58] bloomer20102011 opened #121 "Video screenShot"
can i take a shot of the video at any moment i want?

[2017-06-14 03:05] #121 closed

[2017-06-16 18:22] #119 closed

[2017-06-16 18:23] ram-on commented on #105
Closed the issue due to the lack of feedback.

[2017-06-16 18:23] #105 closed

[2017-06-16 18:24] ram-on commented on #88
Closed due to lack of feedback.

[2017-06-16 18:24] #88 closed

[2017-06-16 18:25] ram-on commented on #48
This should be resolved due to commit d249e5f848b0338d549df580fb08ea3d69b0b987.

[2017-06-16 18:25] #48 closed

[2017-06-16 19:04] ram-on commented on #27
Implemented subscriptions and bookmarks imports (d29960a8fbc1ac85d5ae04478f832073d58f656d) and exports (62edab8e962bbade66fe94a86c2d80e05b9c5de2) functionality.

[2017-06-16 19:04] #27 closed

[2017-06-16 19:07] ram-on commented on #55
Resolved (d249e5f848b0338d549df580fb08ea3d69b0b987).

[2017-06-16 19:07] #55 closed

[2017-06-16 19:11] ram-on commented on #16
Feature implemented.

[2017-06-16 19:11] #16 closed

[2017-06-18 22:51] dimqua commented on #89
Any news? Is it planned any time soon?

[2017-06-19 20:08] ram-on commented on #89
Currently you can enable subtitles if you use SkyTube Extra > go to preference > use Official player.

In the future we might add support to YouTube's official HTML5 player which will be included in both SkyTube and SkyTube Extra.  That would resolve this issue.

[2017-06-19 22:58] avently commented on #109
@ram-on,
This is a really useful feature. Because for now its not easy to rewind (long videos is terrible). Mxplayer has a great example of this feature. Maybe you can use the same behaviour.

[2017-06-23 08:03] gzsombor opened #123 "Feature request: Pre-downloading videos"
Sometimes I would like watch Youtube videos, when there is little, or no connectivity - it would be nice, if SkyTube could
* download videos to show later - videos which are bookmarked, or marked as 'watch later'
* download new videos from a specific channel automatically

What do you think, this request is technically and legally feasible? I don't know, what are the rules using Youtube. Have you

[2017-06-23 19:19] ram-on commented on #123
I'm planning to have the download video/music feature - this will cover your first point.

Watch later will be implemented however i don't think it will download the video automatically.

[2017-06-23 21:32] dimqua commented on #89
@ram-on is it possible to include YouTube's official player to SkyTube Extra and remove the need of YouTube app installed? Since YouTube application itself doesn't work without Google Play Services, but official player does.

[2017-06-24 10:53] ram-on commented on #89
@dimqua Nope.  YouTube's official player (as a library) depends on YouTube's official app.

[2017-06-28 11:10] NotAFile opened #126 "Feature Request: Subscription Import/Export/Sync"
Self explanitory.

Ideally, it could parse the data from Google Takeout too.

[2017-06-28 11:46] ram-on commented on #126
Basically you want your subscriptions to be synchronized across your devices, right?

[2017-06-28 11:50] NotAFile commented on #126
Well that might be the end goal, but for now small steps. I currently can't use skytube because I would have to add my ~100 subscriptions manually.

Having some way of importing and exporting would help a lot with that.

[2017-06-29 12:06] ram-on commented on #126
Importing and exporting feature has just been implemented and is part of version 2.60.

To import/export, go to Preferences > Backups.

[2017-06-29 12:11] NotAFile commented on #126
Oh, great, I had no idea. That update is actually what reminded me skytube exists and promted me to write this feature request :D

[2017-06-29 12:11] #126 closed

[2017-07-05 17:35] vinit-kanani opened #127 "Progress Bar when video is buffering."
It would be nice if there is a progress bar when the video starts to buffer in the middle.

[2017-07-08 08:23] emporeso2 opened #128 "ui font size"
is it possible to increase the font size of the comments, it's hard to read for me ?

[2017-07-10 19:22] ram-on commented on #128
Can you please send me a screenshot?  Also  state what device you are using.

[2017-07-12 04:32] NoorMkdad opened #129 "Add Support for OAuth"
Add Support for Oauth for people to effectively "Sign In" to their Google accounts

[2017-07-12 04:37] NoorMkdad opened #130 "Add Support for OAuth"
Add Support for Oauth for people to effectively "Sign In" to their Google accounts

[2017-07-12 04:37] #130 closed

[2017-07-14 00:20] Generator opened #131 "[BUG] Failed to reproduce video"
I've encounter this message several times, when opening a video some times fails to reproduce the video with the message "Can't play this video", need to tap OK and reload the video (with reload icon on top screen) til the video opens
![screenshot_20170714-010404](https://user-images.githubusercontent.com/44146/28192942-4c6a2bb4-6831-11e7-9634-74a5ef891ed6.png)

**Skytube:** 2.60 [F-Droid]
**ROM:*

[2017-07-15 19:17] OtBe21666 commented on #20
THIS! Glad I searched here before posting. Left a message on Reddit but it looked to be a 2 year old thread & I wasn't sure if it had been seen..?

[2017-07-17 20:26] avently commented on #109
@ram-on
Here is android sources with this functionality:

This is activity where user has access to media controls:
https://github.com/LineageOS/android_packages_apps_Gallery2/blob/cm-14.1/src/com/android/gallery3d/app/MoviePlayer.java

Overlay view:
https://github.com/LineageOS/android_packages_apps_Gallery2/blob/cm-14.1/src/com/android/gallery3d/app/GestureControllerOverlay.java

Gestures contro

[2017-07-18 19:45] ram-on commented on #131
Can you pls indicate which video you were trying to play?  (I'll analyze the log later on).

[2017-07-18 19:46] ram-on commented on #20
@OtBe21666 It's still in the pipeline.  I've haven't forgotten about it yet :)  Just other issues took priority.

[2017-07-18 19:48] ram-on commented on #109
Thanks for the source reference.  I'll take a look into it later on.  Are you familiar with java?  If yes I'll appreciate if you contribute to implement this feature.

[2017-07-18 20:04] avently commented on #109
@ram-on
I'm not familiar with Java.

[2017-07-18 21:12] OtBe21666 commented on #20
Superb! Not trying to be a whiner, was just curious if it was still going
to happen.

Thanks for the reply!

On Jul 18, 2017 3:46 PM, "Ramon" <notifications@github.com> wrote:

[2017-07-21 12:23] cj0596 commented on #20
I am very happy to know this good news.
It's my first time to use it on TV,but I like it too much rather than the official app.
But it's a pity that I can't use my tv remote to control it until now.
I will be  one of the members  to be curious and wait the feature coming all the time.

[2017-08-01 22:02] Lionirdeadman opened #138 "[Request] Video size and gif (?) before seeing"
I love how Youtube Go shows a gif and the video size of the videos before seeing them, it's really useful when I'm using data, would love to have this feature in Skytube.

[2017-08-12 15:36] I-Al-Istannen opened #139 "HTML entities in french translation lead to build errors"
I dearly hope this is not just me, but the history suggests it was an error earlier too?
Also, I saw no default format for issues, so I hope this is okay :)

**Problem:**
Building the project fails with e.g. this error:
[code]
This happens because these HTML entities are sadly no XML ones and not defined either.

**Solution:**
Just replacing them with the literal character should work, otherwise y

[2017-08-16 12:46] avently commented on #6
@ram-on is it easy to implement? If yes,can you give us a code? If you don't want your API key to be blocked I will use my own

[2017-08-16 12:53] avently commented on #118
Yeah, waiting this feature too. I want to limit my traffic when I use mobile data.

[2017-08-16 19:47] ram-on commented on #139
@I-Al-Istannen Thx for reporting this bug.  It has now been fixed - 3b92c379ba4abadcba0f05d8b071e2feb735d5e9.

@RemyL For future contributions, please do not use HTML codes (such as `&eacute;` or `&agrave;` ...etc) - use the actual characters instead (i.e. é or à ...etc).

@I-Al-Istannen regarding that error, try to clean the project (using Build > Clean Project) - although, to be honest, I've nev

[2017-08-16 19:47] #139 closed

[2017-08-17 03:05] jxamen opened #140 "Error:(23, 48) error: package org.schabi.newpipe.extractor.stream_info does not exist"
Error:(23, 48) error: package org.schabi.newpipe.extractor.stream_info does not exist
Error:(28, 36) error: package org.schabi.newpipe.extractor does not exist

help me...

[2017-08-17 19:48] ram-on commented on #140
[code]

[2017-08-19 12:25] AffeAli opened #141 "[Bug] Multi-window breaks video player"
If you (de)activate the Android Nougat multi-window feature while a video is playing, the video player stops working.
Screenshot: ![screenshot_20170810-003857](https://user-images.githubusercontent.com/20579579/29486560-5704c9f6-84e9-11e7-8928-ca2ae8dc053b.png)

[2017-08-21 18:20] OmlineEditor opened #142 "(FR) Control buttons not hidden"
When playing in full screen, the device control buttons are **not hidden**. Buttons are always shown, this prevents.
( Android 6.0 / Lenovo Tab 3 Plus )

![trending](https://user-images.githubusercontent.com/13348933/29532468-fe3a455c-86b5-11e7-8770-4736d080fc99.jpg)

[2017-08-21 18:35] OmlineEditor commented on #118
Add a video quality selection to the menu and there you can select only audio. I want to quickly select video quality for different videos

![68747470733a2f2f72616d2d6f6e2e6769746875622e696f2f536b79547562652f6173736574732f696d672f73637265656e73686f74732f706c61792e6a7067](https://user-images.githubusercontent.com/13348933/29532989-784f26d0-86b8-11e7-831d-d5bfacc60fe2.jpg)

[2017-08-21 18:38] OmlineEditor commented on #115
Yes it's a useful function

[2017-08-22 19:58] ram-on commented on #142
Hi, this is not a bug - it works as intended (i.e. controls button are always visible).

I'm placing this as feature request.

[2017-08-23 08:45] avently opened #143 "Background playback"
This issue about https://github.com/ram-on/SkyTube/issues/6
You didn't answer to me so i created new issue.
I added background playback to SkyTube from NewPipe. Most of the code i got from NewPipe and adapted it to SkyTube "reality". I'm not a Java programmer so expect bad practics in code. That's why i'm posting it here as a patch. You can try it and if you'll like it you can add it to your repo.

[2017-08-23 20:39] ram-on commented on #143
Hi @avently thanks for your input.  i'll look into it.

[2017-08-24 12:59] OmlineEditor commented on #142
Please make sure that the buttons can be hidden. When the buttons on the screen are not convenient they interfere. Make the settings so that you can hide or leave them on the screen

[2017-08-29 01:13] ronlinet opened #144 "HTTP Streaming of MP4 files"
I would like to reuse this code to stream mp4 files harvested from a JSON web page.
Is the the mp4 streaming already inbuilt in the app, if not would it take a lot to refactor the code?

[2017-08-31 12:21] Poussinou opened #145 "Copies on the Play Store"
Hi @ram-on,
I found many copies of Sky-Tube on the Play Store :
* https://play.google.com/store/apps/details?id=free.rm.rextube.extra
* https://play.google.com/store/apps/details?id=com.farmaapps.tubezsd
* https://play.google.com/store/apps/details?id=com.laughingvideo

They claim to be based on SkyTube (that's right)  but they do not respect the GNU GPL v3, and two of them are basically your app

[2017-09-01 10:51] KuzeydekiBuyucu opened #146 "Regions filter not working"
I prefered turkey region and turkish language but most popular videos still same why it does not work

[2017-09-10 00:22] ronlinet opened #147 "License fraud?"
How about these apps
https://www.pornhub.com/apps/android , https://www.youporn.com/fun/android-app/ they looks like a clone of your code.
If that's the case shouldn't be that code sitting on github under GPL3 the same as SkyTube ?

[2017-09-10 02:00] h3298 commented on #42
I love SkyTube.  I like the layout, the concept, and the enhanced privacy.  But when a live video is selected to play, the following dialog is presented:

[code]
Unfortunately none of these apps support YouTube live streams.  Also notice (for example) how PopCorn Time presents a totally different range of choices: in 'Preferences' it detects the following players: MX Player, TubeMate, VLC, Root Br

[2017-09-11 19:32] ram-on commented on #144
Hi, sorry for the late reply.  Currently the code downloads a stream (either a MP4 or WEBM) and the stream is displayed via a video view.

[2017-09-11 19:34] ram-on commented on #145
Thanks for the tip of.  I'll shall report them due to a breach to the GPLv3.

[2017-09-11 19:43] ram-on commented on #147
Hi @ronlinet, I've downloaded them.  Those apps do not look like they are using my code.

[2017-09-11 19:43] #147 closed

[2017-09-11 19:54] ram-on commented on #146
Hi, the prefered region works for the Featured Videos.  The Preferred language is a filter for the Most Popular videos however it will not filter each and every video due to the fact that not every video is tagged with a language (only some do).  Hope this helps.

I'm closing this for now.  Feel free to reopen it should you require further clarifications.

[2017-09-11 19:54] #146 closed

[2017-09-13 05:51] juanserj45 opened #148 "import subscribed channel from YouTube account"
Hey your app is great but I tried searching a way to import my list of channels from YouTube to your app but I can't, is there a way to do that or only manually? Maybe you can add keywords to make new recommendations of videos or channel in keywords chosen by the user. Thx

[2017-09-13 06:09] atomjack commented on #148
This is actually something I've worked on but haven't pushed up here yet. I'll try to take another look at it and make a PR for @ram-on to take a look at.

[2017-09-13 15:52] ram-on commented on #128
Closing the issue as no further feedback was provided.

[2017-09-13 15:52] #128 closed

[2017-09-14 00:56] ronlinet commented on #144
Thank your for the feedback @ram-on , I will close this and open another one if I will any other advise regarding this.

[2017-09-14 01:08] ronlinet commented on #145
@ram-on  I am evaluating this app and if it fits the requirements I may consider to use it for further industrial purposes.
I am willing to financially contribute to your project in exchange for a more permissive license ( MIT, WTFPL ? ).
Apologies for  hijacking this topic but there is no way to message to a user through a github. Is there any way to get in touch by email?
Regards,

[2017-09-14 01:21] #144 closed

[2017-09-18 21:20] switchtegrax1 opened #150 "360p being mistaken as 480p"
Whenever i select 360p it plays 480p videos i found it out as some 480p videos do play on my low end phone and changing between 360-480p produces the same results as above (some play slowly but most just keep loading) Also both 360-480p produce the same video quality just to make it clear.

[2017-09-21 15:29] ram-on commented on #150
For some reason, the app is not retrieving 480p video URLs and as a result it is always playing in 360p.

[2017-09-21 15:30] ram-on commented on #148
@juanserj45 YouTube subscriptions importation feature will be available in the next release.

[2017-09-21 15:49] ram-on commented on #145
@ronlinet Send me email @ https://i.imgur.com/FAkgAL1.png

[2017-09-21 20:55] #140 closed

[2017-09-21 20:58] ram-on commented on #101
@gtx155 Known issue - a design option limited by the number of usage in terms of the YouTube API Key.

To resolve it use your own YouTube API key.  The key can be inputted by going to Preferences > Others > YouTube API Key.

[2017-09-21 20:58] #101 closed

[2017-09-22 05:11] juanserj45 commented on #148
@ram-on  thx keep with your hard work

[2017-09-23 01:33] switchtegrax1 commented on #150
its actually the oposite ,it can't retrieve 360p urls so it always plays 480p videos

[2017-09-23 18:34] atomjack opened #153 "Subscribing to channel from YouTubePlayer doesn't add videos to Feed db"
When you view a video from a channel that you are not subscribed to, and pull up the video description and hit the Subscribe button, that channel's videos are not added to the Feed database.

In fact, if you've already got subscriptions, the only videos from the newly subscribed channel that will ever show up in the Feed tab are ones that were published after you subscribed to it (since it doesn't

[2017-09-24 11:08] ram-on commented on #148
Feature implemented - refer to b601d07abbd531c6b9972912347ea2c88b2fed82

[2017-09-24 11:08] #148 closed

[2017-09-24 11:26] ram-on commented on #153
I agree with putting such code into the SubscribeButton such that such code is shared by both ChannelBrowserFragment and YouTubePlayerFragment.

[2017-09-24 12:13] ram-on commented on #131
Closing this due to lack of feedback.

[2017-09-24 12:13] #131 closed

[2017-09-24 16:26] ram-on commented on #84
I'm closing this ticket due to lack of feedback.  Regarding translations, I am trying to get an account with Weblate.

[2017-09-24 16:26] #84 closed

[2017-09-24 17:36] ram-on commented on #145
@Poussinou The above apps were reported.  Once again, thank you.

[2017-09-24 17:36] #145 closed

[2017-09-29 13:24] ram-on commented on #153
Fixed as per 5a17bbe5f618e2fcc0ffc24b048860d578ad6d8e

[2017-09-29 13:24] #153 closed

[2017-09-29 14:35] Shtirla commented on #75
whats about? No one frontend and browser for android isnt able to do it. It reaaly cool ability

[2017-09-29 14:35] Shtirla commented on #75
whats about? No one frontend and browser for android isnt able to do it. It reaaly cool ability

[2017-09-29 18:50] ram-on commented on #75
@Shtirla It's still in the pipeline

[2017-09-30 16:04] RikNorakomi opened #158 "Unable to run project from latest commits"
Would love to try out this project and dig into it deeper.
But trying to run it from Android Studio gives me a bunch of errors telling me packages and classes cannot be found.
Could anyone get me up to speed on how to get the project running?

`/Users/rikvanvelzen/AndroidStudioProjects/YoutubeRelated/SkyTube/app/src/main/java/free/rm/skytube/businessobjects/VideoStream/StreamMetaData.java
/Users/r

[2017-09-30 16:06] ram-on commented on #158
[code]

[2017-10-01 18:16] #158 closed

[2017-10-03 03:43] NoorMkdad commented on #129
Or, even easier, allow people to import OPML files w/ similar results w/o use of web protocalls

[2017-10-03 16:08] ram-on commented on #129
@NoorMkdad We've implemented a feature which allows users to export their subscriptions (via https://www.youtube.com/subscription_manager) and import them to SkyTube.  This feature will be available during the next release.

[2017-10-03 18:21] dordobitre opened #160 "Lost videos (available with website and youtube-dl)"
For example: https://www.youtube.com/channel/UCKHEsjDfUOJpAev9cpjnrGg - whole channel has only 2 videos in application and tons of videos on website. Every video can be downloaded with youtube-dl, so here no geo restrictions.

If I try to enter URL, for example https://www.youtube.com/watch?v=IeiQ5C00hXM. I got "Invalid video URL". Search query for "IeiQ5C00hXM" has no results.

[2017-10-03 19:55] ram-on commented on #160
I think you are using an old version of SkyTube as I cannot replicate this particular issue (refer to https://i.imgur.com/P3Kep6j.jpg).  I am also able to play the video via Menu > Enter Video URL (https://i.imgur.com/pp1hfLR.png).

If you are using the latest version of SkyTube (2.60), you might try to use your own _YouTube API Key_.  To input the YouTube Key, go to **Menu > Preferences > Others

[2017-10-03 20:45] atomjack commented on #160
I'm also able to view all the videos on that channel and play that video.

[2017-10-04 00:19] dordobitre commented on #160
I'm using version 2.3, more new versions has broken subscription list/broken bookmarks, bad "feed tab" and more antifeatures. I prefer stay with old version. If somehow refer to api key or you changed usage of api?

[2017-10-05 06:32] juanserj45 opened #161 "changin interface vídeo player"
Maybe it little detail but you can make a option to don't show off the icons of info and commentary or will show doing a swipe to left or right or touching the screen.... To mee are little annoying im waiting the 2.7 import all my channel thx for the hard work

[2017-10-05 20:46] ram-on commented on #161
Thanks for your kind words.  I'm closing this issue as it is duplicate to #40.

[2017-10-05 20:46] #161 closed

[2017-10-10 00:05] avently commented on #109
@ram-on hello.
I made swipe controls and background playback (made it better than my previous implementation).
Please, check this out and tell what do your think about it. Will you merge this features or not.
APK is located inside the archive.
[skytube.zip](https://github.com/ram-on/SkyTube/files/1370120/skytube.zip)

[2017-10-10 01:35] Generator commented on #109
Just tested that version by @avently and look great, no major issues, only the options missing (enable/disable swipe controls or witch controls [Volume, Brightness, Seek]).

[2017-10-13 04:12] mcitew opened #163 "Keep history on search string"
Maybe request that the search string be remembered, maybe maximum of 50 strings, if overflows it can push out the old and less popular search, or something scheme.

[2017-10-14 00:30] mcitew opened #164 "Difficult to navigate video items using IR remote ( on android tv )"
The app when loaded on android TV box works. However, it is cumbersome because it requires to put the IR remote into 'mouse mode' and must press and hold the up/down/left/right keys for a long time to navigate to the next video item. On TV the screen is big, so it is very tiresome to move selection this way.

The app should allow keyboard up/down/left/right keys to be used to jump from one video i

[2017-10-16 20:19] ram-on commented on #163
Will be implemented.  I'm closing this as it is duplicate to #57

[2017-10-16 20:21] ram-on commented on #164
This will be implemented in the near future.  Closing this FR as it is duplicate to #20

[2017-10-16 20:21] #164 closed

[2017-10-17 02:41] mcitew commented on #163
Bookmark is not the same as keeping history of search string.

Keep history search string is to east re enter the new search or modifying the video search.

Bookmark is to keep a record of searched video.

I don't see how the bookmark feature solves this issue.

[2017-10-17 13:56] juanserj45 opened #166 "new version?"
Hey sorry for ask this but when the new update with the subscribers import come? I'm waiting that to use more daily this great app. Thz for your work

[2017-10-17 20:54] ram-on commented on #166
Hi.  A new version will probably roll out this weekend provided that no major bugs are noted.

[2017-10-17 21:46] juanserj45 commented on #166
Do you need beta tester?

[2017-10-18 19:55] ram-on commented on #166
@juanserj45 Please find the Beta here:

[SkyTube-Extra-2.69Beta.apk.zip](https://github.com/ram-on/SkyTube/files/1396153/SkyTube-Extra-2.69Beta.apk.zip)

Feel free to report any issues identified.

[2017-10-19 23:59] mcitew opened #168 "bug: certain network configuration trigger "cannot play this video" error"
When configured with certain network configuration, all videos cannot be played, and an error message of "cannot play this video" will appear. However, the same video (and same network setup ) when select to open with external player such as youtube, can be played. Also, play the video using the standalone youtube app can be played in this network configuration.

The network configuration which I

[2017-10-20 01:34] mcitew commented on #166
Notice this version allows "limited" capability to scroll the video items using the TV remote down arrow,

However, on the screen, there is no cursor feedback/indication that which video item/cell is selected, users have no idea which video item is selected, and hitting the "OK" button on the remote has no effect in selecting any video item.

While it can be scrolled down, it can't be completely s

[2017-10-20 03:48] juanserj45 commented on #166
i have some randoms FC when was searching videos but the most annoying it is when you unsubscribed to a channel the channel list is clean and you need to reset the app to see again the channels.
Other thing it is weird when is loading the videos the channels it take too long in 0%.
I was expecting the implementation of immersive mode.
Other think than you need to say that the archive you download

[2017-10-22 00:25] mcitew commented on #168
The wifi extender software creates some tunnel interface and now I suspect SkyTube video stream retrieval is binding to the wrong network interface and as such unable to retrieve the video content. A zero byte content video causes the "cannot play this video" error.

[2017-10-22 19:48] ram-on commented on #166
Thanks for reporting issues with this beta.

@mcitew Noted.  Currently Android TV is not supported - however it will be supported in the near future.

@juanserj45

This above mentioned bug has just been fixed (32207a8ec1d18690924688e10feeca5e680b0439)

[2017-10-22 19:49] ram-on commented on #168
That's interesting as the app is not choosing any network interface by default (but rather using the one supplied by Android).

[2017-10-23 03:12] mcitew commented on #168
It's only my guess right now. I wish I can furnish some kind of logs for this error.

Or the "double stage" network under some kind of VPN introduced by netshare-no-root-tethering cause SSL failure. The interesting part is other apps such as youtube do not fail in this setup.

[2017-10-23 19:40] ram-on commented on #166
@mcitew and @juanserj45

Please find another beta for testing.

[SkyTube-Extra-2.691Beta.apk.zip](https://github.com/ram-on/SkyTube/files/1408564/SkyTube-Extra-2.691Beta.apk.zip)

[2017-10-23 19:42] ram-on commented on #168
@mcitew I've just released another beta which will hopefully detect what is going wrong.  Pls download it, re-run the app until the error reoccurs, then submit the logs.

[2017-10-23 21:18] mcitew commented on #168
Attach the log using 'adb logcat'.
[log.txt](https://github.com/ram-on/SkyTube/files/1408830/log.txt)

[2017-10-24 20:02] ram-on commented on #168
@mcitew Thx for the log.  I've analyzed it briefly.

Error code = 1 = MEDIA_ERROR_UNKNOWN
Error Type = -1004 = MEDIA_ERROR_IO

I'll see if I can extra any additional information -- however I'll do that after the release.

In the meantime, I would appreciate if you list down the steps required to setup the netshare-no-root-tethering -- i.e. did you just download NetShare-no-root-tethering or did yo

[2017-10-24 22:46] mcitew commented on #168
Need two androids, eg a phone and TV box.

The app is loaded into the phone. One side of the wifi will become a client to connect to the upstream internet via standard wifi services. Another side of wifi will become wifi tethering server exposing ssid and password allow clients to connect to it.

Then on the Android TV box, acting as a client,  is configured to connect to this wifi using the ssid

[2017-10-25 06:25] Dixon-Jose opened #173 "Audio stops randomly"
When  watching a video the audio stops randomly but the video keeps on playing. This keeps happening quite often, quick fix is to seek backwards. But even though the video is buffered which i am sure is, takes long time to seek.

[2017-10-25 16:49] ram-on commented on #173
@Dixon-Jose Can you kindly try out the Beta and see if this issue persists?  Beta is located at #166 (refer to the last post).

[2017-10-26 05:40] Dixon-Jose commented on #173
@ram-on I used the beta version SkyTube-Extra-2.691Beta.apk.zip from #166 . Worked fine for the first few hours, then it happened again.
First the audio goes off and video plays for a few seconds and whole thing comes to a stop until you reload it, which then skips forward the video a couple of seconds.
The other issue that comes after this is, no other video plays.When you click the video, the au

[2017-10-26 16:51] ram-on commented on #173
Can you indicate the Operating System version and what device are you using?

Also are you using a similar network configuration like issue #168?

[2017-10-26 22:12] mcitew commented on #168
The device is a tvbox called MXQ pro+ 4k, running Marshmallow 6.0.1.

The thing to note is in this network set up, the same video can still be played if I use 'open with' and select an named player such as youtube or 'youtube for android tv' or even a browser. The problem is the 'open with' must always be manually selected.

[2017-10-26 23:28] mcitew commented on #168
New and latest information. I override the DNS to use google DNS, then problem is gone. Seems google youtube player silently uses google DNS to lookup the stream server, which is why it is still able to stream the video. Perhaps skytube player uses system configured DNS which might have problem looking up the stream server.

[2017-10-27 05:21] Dixon-Jose commented on #173
No i'm not using similar network configuration like #168  and in terms of operating system i'm following [https://download.lineageos.org/bacon](url) builds. Could it be the cause ?
also this doesn't happen in short videos rather in videos of length more than 20 min, if that helps.

[2017-10-27 16:40] ram-on commented on #173
It could be as Lineageos is still hasn't been officially released yet.

[2017-10-27 16:45] ram-on commented on #168
If you are using SkyTube Extra, you can use the Official YouTube player as your default one.  Just go to Preferences > Video Player > tick Use official YouTube player

[2017-10-27 19:17] mcitew commented on #168
There is a big difference in the outcome.

Using official YouTube player, certain videos will display 'This video contains content from xxxx, who has blocked it from display on this website or application'. However, when using 'open with' the video can be played without any problem. Furthermore, when using 'Open with' one can use an alternative player other than the youtube for phones. For my case

[2017-10-29 22:42] Lourens-Rich opened #176 "Hiding the Navigation Bar"
I love don't see navigation bar in landscape view when video played on my phone, like in YouTube official app. Big Thanks for your hard work!

https://developer.android.com/training/system-ui/navigation.html

[2017-10-29 23:03] Lourens-Rich commented on #176
Duplicate of https://github.com/ram-on/SkyTube/issues/117

[2017-10-29 23:03] #176 closed

[2017-10-30 19:01] aykutkaraca opened #177 "old version"
Hi Ramon,

I used one of your old versions (dont know how to look, where does it say, in graddle file?) and I modified it for creating Kids Tube (free with no ads). It is not possible that I update my app with your updates now as I changed things. In my version sometimes the videos dont show. It either keeps showing blank screed with turning icon or it starts with sound but doesnt show the image.

[2017-10-30 19:21] atomjack commented on #177
What I suggest you do is merge the master branch (from ram-on/SkyTube) onto the branch you made where you changed things. I'm assuming you forked the repository, and then did your work on that fork. You'll of course need to add a remote that points to this repository (call it upstream). Here's instruction on how to add the remote: https://help.github.com/articles/configuring-a-remote-for-a-fork/

[2017-10-30 20:28] ram-on commented on #177
@aykutkaraca You need to perform a fork as noted by @atomjack.

It is very important that your app's source code is made available to the public as otherwise it would be breaching the SkyTube's license (GPLv3).

[2017-10-31 08:19] stemy2 opened #178 "Plays the video normally then stops and shows «cannot play the video»"
Hello,

Sometimes, when i want to see a video, the video plays normally during indetermined time (it can be after some seconds, at the middle of the video or whatever), then stops for some reason and shows the message «cannot play  the video». It looks like the app is kidding me. It actually can play the video, but after some time says wthout reason that it can.

[2017-11-02 18:00] avently commented on #109
@Generator feel free to use my fork of SkyTube with new features added. You can build it yourself and no need to trust my apk:)
https://github.com/avently/skytube

[2017-11-02 18:02] avently commented on #143
@ram-on is doing nothing with this issue so, guys, feel free to use my fork if you want background playback and swipe controls in SkyTube
https://github.com/avently/skytube

[2017-11-02 21:45] ram-on commented on #143
@avently can you update your fork to use the latest https://github.com/ram-on/extractor.git ?  I'd like to try it out after that.

[2017-11-02 22:18] avently commented on #143
@ram-on done

[2017-11-03 09:51] stemy2 opened #179 "About privacy"
Hello,

In the description, i can see «Not dependent on the GAPPS/Google Apps (i.e. YouTube official app),no need for Google/YouTube account to operate, my code does not spy on your behaviour!».

It means that your app dosn't spy anyone, but does it means that it prevents google to do so ?

Thanks.

[2017-11-03 19:05] ram-on commented on #179
Google owns the Android OS.  SkyTube have no control on what Android does with the data is processes.  That statement means that SkyTube's OSS code does not try to learn what videos you like ...etc.

[2017-11-04 23:51] ByteTemplar opened #180 "Top bar while viewing video not clickable"
I have odd problem on latest version. I cant click any of the actions on top bar when viewing video (three dots, reload? and back). Bottom bar controls work, sidebar comments work, but I cant use top bar functions at all. This is very bad, cause I cant share videos anymore, cause the option was removed from list view.

Any chance adding it back or maybe find a reason why I cant use the top bar?

I

[2017-11-05 19:48] ram-on commented on #180
@ByteTemplar I've just released a new version of SkyTube (2.70).  Can you try it out and check whether you are still experiencing this issue?

[2017-11-05 19:48] #179 closed

[2017-11-05 19:48] #177 closed

[2017-11-05 19:50] ram-on commented on #166
@juanserj45 I've just released an updated (version 2.70) which supports YouTube subscriptions importation.

[2017-11-05 19:50] #166 closed

[2017-11-05 21:10] ByteTemplar commented on #180
Oh nice, will report back when F-droid has the update available!

[2017-11-08 09:35] ypms opened #182 "Missing old videos in channel"
Look at this screenshot:

![1](https://user-images.githubusercontent.com/33480632/32541519-e67e9db2-c43d-11e7-987b-a8dad8fff3c9.png)

According this, here no more videos at this channel at all. But in search I able to find more old videos:

![4](https://user-images.githubusercontent.com/33480632/32541588-133f9018-c43e-11e7-8f81-64b28319dbbc.png)

I'am using latest version 2.60 from F-Droid.

[2017-11-08 09:36] ypms opened #183 "Incorrent message "disabled comments""
![2](https://user-images.githubusercontent.com/33480632/32541643-465e3788-c43e-11e7-9e0e-e792c73d7e4d.png)

Occured for example, when connection lost. Change to proper message.

[2017-11-08 09:40] ypms opened #184 "Get back button for sharing video to lists"
Currently if I want to share video, I must open video, wait loading, swipe this little button and only after it I can copy/share link. This is totally insane and PAIN for me, when I want share many links.

![3](https://user-images.githubusercontent.com/33480632/32541695-78459ca0-c43e-11e7-8718-d6cbbf52dc22.png)

Get back a little button, which was in earlier versions:

![5](https://user-images.git

[2017-11-08 09:42] ypms opened #185 "Totally empty channels"
For example, if I use search, I can to find and view video:

![6](https://user-images.githubusercontent.com/33480632/32541882-f83dd0da-c43e-11e7-8d0f-ad6b55020c20.png)

But if I go to channel, I see totally empty channel:

![7](https://user-images.githubusercontent.com/33480632/32541925-1d54b7f8-c43f-11e7-8cde-7c38314db94f.png)

This channel have many videos and I can watch it in browser:

![8](ht

[2017-11-08 09:44] ypms opened #186 "Add Playlist feature"
Some channels have only playlists and updating only it. One example with many subscribers and large playlist:

![9](https://user-images.githubusercontent.com/33480632/32542026-6676ea32-c43f-11e7-9ddf-df8f12914843.png)

[2017-11-09 20:41] ram-on commented on #182
Hi @ypms.  This is a known design issue which we had to make in order not to exeed the YouTube API's quota limit.  This can be solved by going to Preference > Others > and input your YouTube API Key.

[2017-11-09 20:44] ram-on commented on #185
As noted in #182, This is a known design issue which we had to make in order not to exeed the YouTube API's quota limit. This can be solved by going to Preference > Others > and input your YouTube API Key.

[2017-11-09 20:53] ram-on commented on #184
This has been solved in version 2.70.  I've released it and it should be soon available @ F-Droid.

[2017-11-09 20:53] #184 closed

[2017-11-09 20:54] ram-on commented on #183
Can you indicate the steps to replicate this bug?

[2017-11-13 00:08] ByteTemplar commented on #180
Ok, updated to 2.70 and still cant click anything on top bar. But now that you returned the same functions on list view, I can share videos again there. So basicly my problem is "solved".

I really dont know why it wont register the top bar buttons. I even activated in developer settings the option that it shows touches on screen, and the touches are visible on top bar and thus working physically,

[2017-11-13 15:18] ByteTemplar opened #189 "Cant remove (deleted) channel from subscription list"
So, I have this channel subscribed that was deleted by Youtube (or removed by owner) and now its just blank icon without name on the list (left bar). If I select it, random videos are listed and cant unsubscribe either (shows subscribe button). If I click the subscribe button, error pops up "Unable to (un)subscribe the channel (id=null).

Dont know how to handle these things, but would like an opt

[2017-11-13 21:57] ram-on commented on #180
@ByteTemplar That's very strange.  What Operating System and device are you using?

[2017-11-13 22:25] ByteTemplar commented on #180
Its oldie but works fine otherwise, tablet is Pipo P9 and its running KitKat 4.4.2. Unfortunately its been abandoned by manufacturer long time ago, but hardware is still amazing and runs everything no problems. I use it mostly on streaming media anymore...

[2017-11-14 20:22] ram-on commented on #180
I'm still using Android 4.4.* however I cannot replicate that issue.  I'm assuming that the top bar of other apps works great, right?

[2017-11-14 22:31] ByteTemplar commented on #180
Yeah, no other app has that problem that Im using, like for example this web browser Im using to reply and its tab work fine on top of screen on same spot.

But its not a huge problem anymore cause now I can share videos from list screen again, cause you returned that option in 2.70! So Im fine closing this issue tbh, its a really weird glitch :)

[2017-11-16 00:02] atomjack commented on #22
A beta of Skytube Extra variant (which contains non-open source Google Play Services, as opposed to the regular OSS verison) is ready for people to test, if you'd like to. You can grab the apk here: https://drive.google.com/open?id=1XlWQegfHzwWW0r0IJvBtgJ7_uSvgCu0a

Please let me know if you run into any trouble or have any comments!

[2017-11-22 23:44] atomjack commented on #186
I actually just pushed up a branch that adds Channel Playlist support. I imagine it should be ready soon but it's up to @ram-on.

[2017-11-23 18:07] stemy2 opened #191 "Enhancement: push notifications and auto-refresh"
Hello,

To see new video, i'm forced to open the app and swipe down regularly. It would be nice to have a notification at every new video as in the official YT app.

Thanks.

[2017-11-23 20:46] ram-on commented on #186
Playlist is now supported by SkyTube as per @atomjack's PR (#190 and 3617c83058c87bb12af98b447e850df8c1517643).  It will be available in the next release.

[2017-11-23 20:46] #186 closed

[2017-11-23 20:48] ram-on commented on #47
Playlist is now supported by SkyTube as per @atomjack's PR (#190 and 3617c83). It will be available in the next release.

[2017-11-23 20:48] #47 closed

[2017-11-23 20:52] #182 closed

[2017-11-23 20:53] ram-on commented on #180
Very weird indeed.  I have to close this issue as unfortunately I cannot replicate this issue, even when I'm using the Android's emulator.  Sorry about that!

[2017-11-23 20:53] #180 closed

[2017-11-23 20:54] #185 closed

[2017-11-26 16:51] ram-on commented on #40
FR has now been implemented.  Refer to 69f2a2a6b7a2df530e875aa6872e6b33364a6820:   YouTube player will, from now on, hide the comments and video description icons after a couple of seconds after the HUD is hidden. An option is now implemented in the preferences to disable this behavior (immersive mode).

[2017-11-26 16:51] #40 closed

[2017-11-26 16:51] ram-on commented on #117
FR has now been implemented.  Refer to 69f2a2a6b7a2df530e875aa6872e6b33364a6820:   YouTube player will, from now on, hide the comments and video description icons after a couple of seconds after the HUD is hidden. An option is now implemented in the preferences to disable this behavior (immersive mode).

[2017-11-26 16:51] #117 closed

[2017-11-26 16:54] ram-on commented on #14
Title bar is now hidden when the user scrolls down.  Refer to 55dc77681a96db94498e4b4b47af6dbc76951ddb.

[2017-11-26 16:54] #14 closed

[2017-11-26 16:57] ram-on commented on #52
Subscriptions importation and exportation is now supported by SkyTube (version 2.70).  You can even import subscriptions from your YouTube account.

[2017-11-26 16:57] #52 closed

[2017-11-26 16:59] ram-on commented on #60
The above was implemented.  Refer to 55dc77681a96db94498e4b4b47af6dbc76951ddb.

[2017-11-26 16:59] #60 closed

[2017-11-26 17:00] ram-on commented on #63
Unfortunately the above request will not be implemented.

[2017-11-26 17:00] #63 closed

[2017-11-29 04:06] xoceunder opened #192 "help with app"
hello friend I want to see if it is possible to help me recover an app that I have in error

[2017-11-29 18:46] ram-on commented on #192
Is this issue related to SkyTube?  If so, pls describe the issue.

[2017-11-30 00:17] atomjack commented on #191
I'm working on this right now. @ram-on, can I get your input on a few things?

1) It'll be using the Alarm Manager in order to trigger checking for new videos from subscribed channels. In Preferences -> Other, there will be a new option for "Feed Auto Notification", where you can select how often it should check for new videos from subscribed channels. The first option will be off, followed by 1 o

[2017-11-30 20:30] ram-on commented on #191
Hello @atomjack

1. I agree with 6, 12, 24 hours
2. I would keep it simple and always display a notification saying something like "X new videos uploaded from subscribed channels".  Once the user taps the notification, the app will open the feed tab as you suggested.
3. I prefer that such check is carried out X hours after the option is selected (in order to conserve the api quota)
4. If the user

[2017-12-01 14:13] petertirrell opened #193 "Adding a whitelist preference?"
I'm trying to solve a problem where I'd like a youtube app that only allows specific channels, or specific video links, or specific playlists.  I came across this app, and am wondering about adding a whitelist URL list in the "Other Preferences" and then have it only display those videos if there is anything in the whitelist section.

I'm going to try and pull down the code this weekend and maybe

[2017-12-01 18:06] atomjack commented on #191
@ram-on I just pushed up a branch with this. I've followed your 4 points above.

Some notes:

1) I renamed SubscriptionsFragmentListener to GetSubscriptionVideosTaskListener, since it's really mainly relevant to that task. Seemed to make more sense to me. I also changed it to pass an ArrayList of the videos that were found (for a particular channel), instead of just the number. I originally did th

[2017-12-01 18:13] atomjack commented on #193
You should fork the Repository and then pull your fork down, and then do any work you want on a new branch. That way if you want to add stuff to the app you can push your branch up and make a Pull Request.

One thing you will have to do in order to make the app build is this, once you pull down your fork:

[code]

The app uses this Extractor code from the NewPipe project, and it won't build withou

[2017-12-02 10:12] ram-on commented on #193
@petertirrell I was more planning to develop a black list (rather than a white list) in the sense that certain channels will be blocked.

The problem with channel whitelist is that it will make the app unusable as the absolute majority of the videos will be blocked by default -- even worse with video whitelisting.

What I suggest is that you implement channel blacklisting.  I would really apprecia

[2017-12-02 17:51] thiswillbeyourgithub opened #195 "App very slow to sync/update new videos"
Hi,

I notice that my SkyTube app in version 2.70 from FDroid on Lineage OS is really slow to update the new videos that have been published. I get the popup stating that it is updating (although clicking around this popup allows me to browse and watch videos while it is updating) and it can take about 2-3 minutes to finish, every time. I have a bit less than 400 channel to sync but still, it's in

[2017-12-03 15:47] ram-on commented on #191
Hello @atomjack.  I've tested it out -- I've changed the refresh time to 2 minutes.  When I set such feed refesh time via preferences, I've noted that GetSubscriptionVideosTask gets called periodically -- however when I restarted the app, GetSubscriptionVideosTask does not get called.  Can you look into it?

[2017-12-03 20:30] thiswillbeyourgithub opened #196 "Doesn't work while splitting screen"
Hi,
i am on lineage os 14 with the latest version from fdroid and multiwindowed view seem to cut the video : it goes black and displays the loading logo on top although it doesn't seem to load anything. Resuming to single window doesn't restart the video and it still stays black and "loading"

[2017-12-04 01:47] atomjack commented on #191
Hey @ram-on, nice catch! I've added a commit to that branch which fixes that problem.

[2017-12-04 03:15] petertirrell commented on #193
Thanks for the feedback!  My whitelist idea actually stems from wanting to block the majority of videos out there...I'm trying to find a better solution for Youtube parental controls than what I've found so far.  Youtube's preferences don't really offer much there, and even the YouTube Kids app still offers more than I'd prefer, and still doesn't really have much in the way of filtering options.

[2017-12-04 21:17] ram-on commented on #196
Thanks for reporting.  Duplicate to bug #141

[2017-12-04 21:17] #196 closed

[2017-12-05 18:02] thiswillbeyourgithub commented on #195
I have a feeling it might be caused by your app unintentionally syncing twice at the same time. I sometimes get two popular stating that no videos were added, things like that

[2017-12-05 20:56] ram-on commented on #195
@thiswillbeyourgithub pls list down the steps needed to show such popup twice.

[2017-12-05 21:18] thiswillbeyourgithub commented on #195
Okay, thanks :)

So, first thing : i just launched the app and refreshed the feed. I get the loading popup and after the long (2-3minutes long..) wait it disappears and another "loading popup" stays on screen : it was actually beneath and stays on. I let it run for maybe 4 minutes and it didn't budge (stuck at 0 channel checked, althouth there is the loading circle animation thing going on). I can

[2017-12-05 21:45] okan35 commented on #193
@ram-on Hey Ramon, I was just going to open an issue about blacklisting the channels as I have been using your app for a long time I would like to work on this feature as much as I can. Can I start it immediately ?

[2017-12-05 22:07] atomjack commented on #123
@ram-on I've just added a branch that fulfills this request. Would love to hear your thoughts. Here are my notes:

1) Each video cell (in the video grid) now has a download button, directly to the left of the video options button. Clicking the button will initiate the download, and the button will animate to show that the video is downloading (and then it will disappear once the download is finish

[2017-12-06 17:29] atomjack commented on #189
@ByteTemplar I could take a crack at fixing this, but in order to recreate it I'd need to be subscribed to a channel that is no longer available. Can you do an export of your SkyTube settings (which would include all your subscriptions, including the one that was deleted) and then leave a link to the xml file here, or email it to me? (atomjack at gmail)

[2017-12-06 18:34] ram-on commented on #193
@okan35 I would appreciate if channel blacklisting is implemented.

As for the Turkish translation, these can be performed on the weblate website:  https://hosted.weblate.org/engage/skytube/

[2017-12-06 18:56] ram-on commented on #123
@atomjack I agree with this approach.  The only reservation I have is about the download button as I was more thinking about adding it into the three-dot-menu.

[2017-12-06 19:08] atomjack commented on #123
@ram-on Gotcha. Should I go ahead and remove the download button and add an option to the options menu? Or do you wanna think on it some more.

[2017-12-06 19:13] ram-on commented on #123
Is it available in one of your branches?

[2017-12-06 19:15] atomjack commented on #123
Yeah, https://github.com/atomjack/SkyTube/tree/offline-videos

[2017-12-06 20:00] ram-on commented on #123
Hey Chris, I've just tested it.  Looks great!  The following are issues i've noted:

* Yeah its better if you remove the download icon from the grid -- just add it as an option to the video's menu.
* The download option should also be available via the YouTube player's (activity) menu (i.e. while playing the video).
* When a downloaded video is deleted, the video is not removed from the Downloads

[2017-12-06 20:10] atomjack commented on #123
@ram-on Awesome. For the YouTube Player's menu, for a downloaded video, should there be an option to delete the video? The thing is, it'll be playing the local file video at the time, so either the video would have to stop playing, then delete, or else it would have to get deleted after playback stopped.

[2017-12-06 20:19] atomjack commented on #123
Oh yeah, one thing I also meant to add was an option the user could set to allow downloads while on Mobile. What do you think? If we do have that option, and they set it to not allow downloads on mobile, should it hide the download option, or display a message when they click on it instead?

[2017-12-06 20:24] ram-on commented on #123
Good point.  No that option should not be available when playing videos.

Good idea.  Pls proceed.

[2017-12-06 21:01] gzsombor commented on #123
Wow, it looks awesome !
Putting the download action under the menu makes it more consistent, but unfortunately using menus are not very touch friendly.

[2017-12-06 21:03] atomjack commented on #123
Thanks @gzsombor !!

@ram-on, since I'm removing the download button, there's no need for the other Fragments to be updated when then DownloadsDB gets updated, so I'll be changing it so that only the DownloadedVideosFragment is a listener.

[2017-12-06 21:12] atomjack commented on #123
@ram-on Also, for the allow downloads on mobile option, which did you prefer, hide the download option, or show a Toast when it's clicked?

[2017-12-06 21:17] ram-on commented on #142
Implemented.  Refer to 6b8f2e48d4e038e2d97e1c9f8ae1a745475af006.

[2017-12-06 21:17] #142 closed

[2017-12-06 21:22] ram-on commented on #123
Great -- less complexity.

The default option behavior be to hide the download option when using mobile plan.  However it would be nice if an option would be inserted in the preferences which allows the user to download videos irrespective if he is using wifi or 4g.

[2017-12-06 22:05] atomjack commented on #123
Ok, I'll add that. I'll also have it display a Toast if the video file becomes missing after the app has already launched, as well as remove it from the list.

Yep, I've added a CheckboxPreference to Others that allows downloads on mobile. If this is unchecked (I'm assuming it should be unchecked by default), and the user is not connected via WiFi, the download option is hidden. This necessitated

[2017-12-06 22:46] atomjack commented on #123
@ram-on Just pushed an update to the`offline-videos` branch, contains just about all that stuff (see the commit message). I was able to download that "The Talk" video just fine, so I wasn't able to reproduce that. I'll doublecheck the code though.

[2017-12-07 10:42] thiswillbeyourgithub opened #197 "Can't remove all subscriptions or backup only memorized video"
Hi,
Today I unsubscribed from a bunch of channels directly on my youtube account with the official website and I intended to export the xml file and then re import it to skytube in order to have the correct list of channels on the app.

The problem is : I can't seem to remove what I previously imported list of channels to then import the brand new list. All I can do is removing the app's data, and

[2017-12-07 10:56] thiswillbeyourgithub opened #198 "Doesn't import all the channels, some are not"
Hi,
I'm sorry to file this many issues lately but what can I do :)

I imported a list of channels to SkyTube this morning. About 350something. When launching the app later in the day I noticed that the window that says it's refreshing the feed stated there were only 315 channels to check. So I tried to reimport the list of channels from the same file and noticed that there are 14 channels that don

[2017-12-07 19:52] ram-on commented on #183
I'm closing this issue as no further feedback was received.  Feel free to reopen it.

[2017-12-07 19:52] #183 closed

[2017-12-07 20:04] ram-on commented on #197
So basically you want an option to unsubscribe from all channels, right?

[2017-12-07 20:04] ram-on commented on #198
Can you share the XML file?

[2017-12-07 20:17] #8 closed

[2017-12-07 20:29] atomjack commented on #197
Seems like importing from the youtube xml file should give the option of clearing out the subscriptions channels.

[2017-12-07 21:29] ram-on commented on #189
Fixed as per 6d8b4499f5c855e81f687fd5539ace839d14b7c4

[2017-12-07 21:29] #189 closed

[2017-12-07 21:39] ByteTemplar commented on #189
Finally had time to reply at atomjack and got an email its fixed by the dev! Nicely done!

Just wanted to thank you :)

[2017-12-08 08:58] thiswillbeyourgithub commented on #197
@atomjack that would do it. Although I think it might be very usefull to be able to backup the "saved videos" and the list of channel subscriptions to two separate files.

[2017-12-08 09:01] thiswillbeyourgithub commented on #198
`<opml version="1.1">
<body><outline text="YouTube Subscriptions" title="YouTube Subscriptions"><outline text="Docteur Suture - Pierre ViguiÃ©" title="Docteur Suture - Pierre ViguiÃ©" type="rss" xmlUrl="https://www.youtube.com/feeds/videos.xml?channel_id=UCGMH1Gf32kFm5oENuegpgSA" /><outline text="TÃ©lÃ© Crayon" title="TÃ©lÃ© Crayon" type="rss" xmlUrl="https://www.youtube.com/feeds/videos.xml?chann

[2017-12-08 09:03] thiswillbeyourgithub commented on #198
Pasting it didn't work, and I apparently can't attach xml files. So I zipped it with your username as password for good measure :)

[Uploading subscription_manager.xml.zip…]()

[2017-12-08 09:52] ram-on commented on #198
Hi @thiswillbeyourgithub.  I've analyzed the XML file:

* The XML file has 329 channels defined.
* 315 channels were imported.
* 14 channels were not imported by SkyTube as they do not exist anymore (for example, they were closed by YouTube due to copyright notices or YT policy violation ...etc)

The following 14 channels were not imported:
* UCfwVb-mW8LtrN5XTfJ9dqhw
* UCf2RVHq9MlTNOGhlwxjI6Hw
* U

[2017-12-08 09:52] #198 closed

[2017-12-08 10:52] thiswillbeyourgithub commented on #198
Oh wow and they don't appear in my yt account as "subscribed" so and I can't unsubscribe either. This means they will always be in my rss export *sigh*.

Thanks a lot (I will remove the zip file above for privacy etc) !

[2017-12-10 04:09] fastestnoob opened #203 "anyone is able to change the source text in weblate"
see under SkyTube /Subs/ a language / translate.

[2017-12-12 11:00] ghost opened #204 "Export to opml format"
Hi all,
i want to export my subscriptions to opml format ,or the skytube format is not a opml format how to do it ?

thanks for your help.

[2017-12-13 14:13] ram-on commented on #204
Currently you can only export to SkyTube format.  Is there a reason why you want to export to OPML format?

[2017-12-13 16:39] ram-on commented on #203
I'm closing this ticket as I believe that @fastestnoob resolved this issue.  Thanks for your translations.

[2017-12-13 16:39] #203 closed

[2017-12-13 18:38] emporeso2 commented on #204
Yes , i want to check my feeds in my rss reader and then watch them via skytube ?

[2017-12-17 13:19] cmtimran opened #205 "how to change your YouTube channel to my channel & which file?"

[2017-12-17 13:33] ram-on commented on #205
I don't understand.  Do you want to import your subscriptions list from YouTube?

[2017-12-17 13:34] #192 closed

[2017-12-18 21:26] Tvax commented on #195
I experience the same issue, it takes time to get the channels to be checked for new videos.
I'm also on LOS, but it was as long to check for new videos as it is right now when I was on my stock ROM

[2017-12-25 17:10] ram-on commented on #191
Implemented as per PR #191

[2017-12-25 17:10] #191 closed

[2017-12-26 20:26] ram-on commented on #195
Due to commits 214e993cd9c096cffb6ccae40d1e874dd11c68f9 and b3cc1489bb7add86c492327ed423cb961ee61dd4, the feed refreshing process should be performed much faster (around 70% faster).

The refreshing process of 300+ channels is now performed under 20 seconds on my device.

[2017-12-26 20:26] #195 closed

[2017-12-28 14:31] HubKing opened #209 "How about ignore uploader feature?"
When I search YouTube, there often are some video uploaders who either spams the search result with fake videos, or whose videos I simply dislike. I would like to exclude videos from them from search results, or from recommendations.

That feature is lacked in the official YouTube app, and that is why I am looking for an alternative client. It would be helpful if that feature is implemented.

[2017-12-29 19:18] ram-on commented on #209
Hello @HubKing.  It is indeed a good idea and a must have feature.  It was being discussed at #193.  The feature is in the pipeline.

[2017-12-29 19:18] #209 closed

[2017-12-31 09:24] Raj2032 opened #211 "Can we have a feature which allows users to download videos offline?"
Is it possible for this app to allow users to download the videos offline and it can either be stored on the app itself or it can be downloaded as a mp4, avi etc?

[2017-12-31 12:08] ram-on commented on #211
Hi @Raj2032, we've just implemented it -- refer to #208.  It will be available in the next release.

[2017-12-31 12:08] #211 closed

[2017-12-31 12:09] ram-on commented on #123
@gzsombor Chris just implemented your FR -- refer to #208.  It will be available in the next release.

[2017-12-31 12:09] #123 closed

[2017-12-31 12:17] gzsombor commented on #123
Awesome, thanks! Happy new year ! :smile:

[2017-12-31 12:56] Raj2032 commented on #211
When is the next release coming out?

On Sun, Dec 31, 2017 at 11:08 PM, Ramon <notifications@github.com> wrote:

[2017-12-31 13:03] ram-on commented on #211
Probably January 2018

[2017-12-31 13:07] Raj2032 commented on #211
Oh ok thanks and happy new year

On Mon, Jan 1, 2018 at 12:03 AM, Ramon <notifications@github.com> wrote:

[2017-12-31 13:08] Raj2032 commented on #211
Is it possible to also make a Windows, OS X and GNU/Linux version as well?

On Mon, Jan 1, 2018 at 12:07 AM, Joe Smith <justman111111@gmail.com> wrote:

[2018-01-01 16:20] ram-on commented on #102
Fixed as per b9df27a523089ada3e45e4c5e25e9a002c666ea9.

[2018-01-01 16:20] #102 closed

[2018-01-01 16:22] ram-on commented on #205
Closed due to no feedback was provided.

[2018-01-01 16:22] #205 closed

[2018-01-02 19:54] atomjack opened #212 "Channels with long names mangle display of Video Description"
Channels whose names are really long end up mangling the display of the Video Description layer that you drag up while watching a video. An example of this is "The Late Show with Stephen Colbert":

![screenshot_20180102-115108](https://user-images.githubusercontent.com/114672/34497701-7201df66-efb3-11e7-888e-0a4827efddd9.png)

Thoughts, @ram-on ?

[2018-01-02 20:02] ram-on commented on #212
Good catch.

[2018-01-02 20:16] atomjack opened #213 "Pressing Back Button while Subscriptions Drawer is open should close it"
instead of minimizing the app. I can put up a PR, @ram-on, if you agree.

[2018-01-02 20:32] atomjack commented on #212
I came up with a quick fix:

![screenshot_20180102-122921](https://user-images.githubusercontent.com/114672/34498941-a3f6d8a0-efb8-11e7-986b-aa7854ec00b5.png)

I put values in for `weightSum` on the parent container of the two RelativeLayouts, and `layout_weight` on the RelativeLayouts. Strangely, using `weightSum` of 2 and `layout_weight` of 1 for both RelativeLayouts didn't work - I ended up hav

[2018-01-02 21:57] ram-on commented on #212
Sounds good to me.  Looking forward for your PR.

[2018-01-02 21:57] ram-on commented on #213
Pls proceed.

[2018-01-03 16:34] okan35 opened #217 "Basic Blocking feature implemented. Cant commit."
Hi ram-on I added basic blocking feature. On main page where you see videos, when you click to drop down menu, you see block channel. After clicking block channel, first you need to refresh then it does not get any more videos from that channel. But problem is I can't commit it to github. Github gives me problems. Is there any other way I can send you the code and files?

[2018-01-03 17:17] atomjack commented on #217
@okan35 Can you elaborate on the exact problems with github? This is the proper procedure for sending updates for the app:

1) Fork the repository into your own account.
2) Create a branch in your forked repository for the feature you want to add.
3) Push the branch up, and create a Pull Request (PR), for @ram-on to review.

Did you follow these procedures? What exactly did you do?

One thing to k

[2018-01-03 17:27] okan35 commented on #217
Hi atomjack, I forked and downloaded this repository some time ago. The problems I got were about merging conflicts. I guess those changes in the main repository are giving me problems. I tried everything regarding error outputs from git on terminal. But nothing worked. I was able to push once but it was a force push to the fork I did. I will try to fork again and follow your steps. When I have er

[2018-01-03 17:52] atomjack commented on #217
@okan35 First, you should add a remote for the upstream repository (this one) and fetch from it:

[code]

Then, switch over to the master branch on your fork, and update it with the master from upstream:

[code]

That will update the master branch of your fork with all the changes to the upstream master branch (upstream == this original repository). Then, you can switch back over to your branch an

[2018-01-03 21:30] atomjack commented on #163
I just added this feature, how's this look? You can also delete the entries with the X button.

![screenshot_20180103-132800](https://user-images.githubusercontent.com/114672/34540659-3800edac-f08a-11e7-9394-00296a0a22d7.png)

[2018-01-04 18:49] #212 closed

[2018-01-04 20:14] ram-on commented on #163
@atomjack Hey Chris, it looks great.  Just add an option in the preferences to not record search history.

[2018-01-04 20:15] atomjack commented on #163
@ram-on Cool, should that be off by default? As in, it will record search history by default?

[2018-01-04 20:27] ram-on commented on #163
Yes pls

[2018-01-04 20:55] atomjack commented on #163
Done. When you check the box to disable it, it will clear the Search History Database.

[2018-01-05 15:09] Aggornaut opened #219 "Navigation bar visible while video is playing."
As stated in the title, the Android navigation bar is not hidden while a video is playing.

This issue is only present while using the default player. It disappears as expected while using the Youtube player.

Android version 7.0.

[2018-01-06 16:16] okan35 commented on #217
Hi atomjack, when I even do git fetch upstream I get permission denied error, even if I use "sudo". I checked about it on google and it is about ownership of repo. I need the read only link and also when I download directly from repo I get the error for some youtube api, I fixed this before by downloading folder and putting into necessary place but I guess doing this creates problems.

[2018-01-06 23:06] atomjack commented on #217
@okan35 Did you try `git rebase upstream/master` ? The url I gave for adding the upstream repo has read access, you shouldn't have to do anything else.

[2018-01-07 12:45] okan35 commented on #217
@atomjack I tried but I get needed single revision error I also did what SO suggests it is not working. I actually done a contribution to another project before it just went smooth, I do not understand why is it hard now. Why do I get error I have no idea ?

[2018-01-07 21:56] ram-on commented on #217
Hello @okan35.  Recently we did some major restructuring to the app's packages and hence that's why you're experiencing such errors.  I suggest that you re-clone my github and then copy and paste your changes.

[2018-01-08 17:20] atomjack commented on #217
@okan35 If you made your changes on a separate branch (than master) on your fork, and have pushed/can push that branch up to github, you could try cloning your fork into a new directory, then add @ram-on's upstream, and try to rebase your branch from there. It's an option, anyways.

[2018-01-10 16:01] okan35 commented on #217
@ram-on @atomjack  I will reclone the repo and make changes on it. Hopefully this time it will work.

[2018-01-10 16:25] okan35 commented on #217
Before making the changes I just wanted to ask about these errors.
https://i.imgur.com/PAoYjjs.png

I get them from the newly cloned repo, Should I still make the changes ?  I think I fixed these error by literally copying files from your github or from the source I don't quiet remember.

[2018-01-10 17:30] atomjack commented on #217
@okan35 Yeah, you need to run the following:

[code]

If you run into more problems with git after that (rebasing etc), paste the output in a new comment here (see [Mastering Markdown](https://guides.github.com/features/mastering-markdown/), specifically under "code", for how to format it like the above git commands I did).

[2018-01-11 15:06] okan35 commented on #217
@atomjack @ram-on Hi, I finally did it, I made a pull request and hopefully it is fine so that this feature can be available.

[2018-01-11 19:01] okan35 opened #225 "App keeps crashing after clicking download and bookmark the video."
A bug that can be reproduced in following way; If you click "download" and then bookmark the video, the apps crashes and keeps stopping if you try to open it again. It opens only when you clean data of the app, not even cache.

[2018-01-11 19:17] atomjack commented on #225
@okan35 I'm not able to reproduce this. Can you elaborate on the steps you took? A couple questions:

1) Were you running the latest commit from master? I tried it with db0aa6f9122bc2a7a7d3f96492a76dd478ad2853

2) Which tab were you on when you clicked download?

3) Which tab were you on when you clicked bookmark? Was it from the tab you clicked download, or did you move to the downloads tab first

[2018-01-12 04:20] Caboosium commented on #89
I thought youtube was factory software on most phones but I guess I did say "most"...

[2018-01-12 04:21] Caboosium commented on #115
Would like to see this.

[2018-01-12 17:45] okan35 commented on #225
@atomjack I am getting this error on this commit. https://github.com/okan35/SkyTube/commit/593fe2e48c504a9f6b89fb042c2b39c7ea0f447e

I just click on the options of a video and bookmark it I get the following. It shows in the for loop that I implemented to filter channels that are going to be got but this happens when I bookmark and I did nothing about bookmark feature. I will work on this.

`01-12

[2018-01-12 18:25] atomjack commented on #225
Ok, well first off you should have mentioned that you were getting the error on changes you had made in your own fork. Second, you shouldn't be adding commits to master (in your fork), you should be adding commits to a separate branch. Once you are done you push that branch up to github (to your fork) and then can do a Pull Request to have that branch merged into ram-on/master.

The problem appear

[2018-01-12 18:38] okan35 commented on #225
I should have checked better but I fixed the issue and  so far it seems fine and I haven't got any problems. The reason that I made changes to master was I just could not make changes to branch so I just did it to master.

I will also work on your suggestions I believe I am still a beginner so I can make mistakes. Thanks for your suggestions I will definitely work on them I just want this feature

[2018-01-12 18:39] #217 closed

[2018-01-13 20:38] #225 closed

[2018-01-25 11:57] Raj2032 opened #230 "Can we have more Operating Systems support please"
Can we make SkyTube applications for Windows, OS X and GNU/Linux please, as well as a web version.

YouTube has become horrible to use. I don't really have fast Internet and everytime I let my videos buffer, after several hours later I would come and watch the video and guess, what, it gets deleted from the RAM. Since YouTube now deletes everything from the RAM if the video has not been watched fo

[2018-01-25 18:47] ram-on commented on #230
Unfortunately it is not feasible to port SkyTube to other operating systems as is very much dependent to Android.  This means that in order to port it to other operating systems, we have to rewrite the whole code, and hence it is not feasible.

What I suggest is that you use an Android emulator such as BlueStacks and run SkyTube on it.

[2018-01-25 22:05] Raj2032 commented on #230
How about just having a web version of SkyTube instead?

On Fri, Jan 26, 2018 at 5:47 AM, Ramon <notifications@github.com> wrote:

[2018-01-26 11:10] idotools-xuqiang opened #231 "Breaking on playback a video for 6 minutes more or less"
Breaking on playback a video for 6 minutes more or less.
The issue can be recurrent by 100% percentage.

[2018-01-27 10:09] ram-on commented on #230
@Raj2032 Again, a web version of SkyTube means a total rewrite.  Have you tried hooktube.com ?

[2018-01-27 10:10] ram-on commented on #231
@idotools-xuqiang What device are you using and what operating system?

[2018-01-27 12:26] Raj2032 commented on #230
Is HookTube
- Free (as in freedom) and Open Source?
- Does it give personalised video suggestions (just like in YouTube)?
- Can you sign in with your Google account to get your history and other
stuff?

On Sat, Jan 27, 2018 at 9:09 PM, Ramon <notifications@github.com> wrote:

[2018-01-27 14:26] ram-on commented on #230
@Raj2032 Most probably the answer for all the above points is no.

[2018-01-27 14:27] ram-on commented on #219
@Aggornaut SkyTube version 2.80 has been released.  Can you confirm if this has been fixed?

[2018-01-29 16:21] igor500021 opened #233 "Question"
Hi, will we have a possibility to watch live streams, for example live streams of TV channels? Thank you

[2018-01-30 10:09] igor500021 opened #234 "Possibility to watch live streams"
Hi, will we have a possibility to watch live streams, for example live streams of TV channels? Thank you

[2018-01-30 10:10] #233 closed

[2018-01-30 20:45] ram-on commented on #234
Hello @igor500021, Eventually the app will support live streams.  Refer to #42.

[2018-01-30 20:45] #234 closed

[2018-01-31 00:47] ildar commented on #109
@ram-on , would you merge this functionality if properly implemented?

[2018-01-31 00:53] ildar opened #235 "[FR] related videos"
by itself is a very important feature of YT service

[2018-01-31 11:36] igor500021 opened #236 "What about possibility of watching live streams?"
The question is in title.

[2018-01-31 11:55] #236 closed

[2018-01-31 11:57] igor500021 opened #237 "Prompts in search"
When will we have variants in search?

[2018-01-31 19:53] massyas commented on #95
Hello
I'm also interested in this enhancement.
It seems adding following parameter to the query would do the job https://developers.google.com/youtube/v3/docs/search/list

`publishedAfter`
	`datetime`
`The publishedAfter parameter indicates that the API response should only contain resources created at or after the specified time. The value is an RFC 3339 formatted date-time value (1970-01-01T00:0

[2018-02-01 19:08] atomjack opened #239 "NewPipe Extractor throwing errors: package org.junit does not exist"
I wanted to try out the new swipe controls branch but ran into an error with the extractor module, so I updated (did a git pull) that, but it's throwing different errors now:

[code]

Wasn't able to figure anything out. Any ideas, @ram-on  ?

[2018-02-01 21:37] ram-on commented on #239
Hello @atomjack, try to delete this folder:  `<SKYTUBE_PATH>/app/src/main/java/org`

[2018-02-01 21:40] ram-on commented on #237
@igor500021 can you provide more details regarding this request?

[2018-02-01 21:50] ildar commented on #237
Emm, search hints? I guess this is the dup?

[2018-02-01 22:01] atomjack commented on #239
@ram-on  Oh interesting, SkyTube doesn't depend on the NewPipe Extractor anymore?

[2018-02-01 22:02] ram-on commented on #239
No, just the extractor lib dependency is now part of the gradle file.

[2018-02-01 22:07] atomjack commented on #239
Ah I see, awesome.

[2018-02-01 22:07] #239 closed

[2018-02-02 04:05] igor500021 commented on #237
________________________________________
От: ildar [notifications@github.com]
Отправлено: 2 февраля 2018 г. 0:50
Кому: ram-on/SkyTube
Копия: igor500021; Mention
Тема: Re: [ram-on/SkyTube] Prompts in search (#237)

Emm, search hints? I guess this is the dup?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ram-on/SkyTube/issues

[2018-02-02 16:06] ram-on commented on #237
Refer to #163.

[2018-02-02 16:06] #237 closed

[2018-02-02 16:19] Aggornaut commented on #219
Seems to be working fine now. Thanks!

[2018-02-02 21:10] #219 closed

[2018-02-03 16:10] okan35 commented on #197
@atomjack  @ram-on Has anybody proceeded on this ? Otherwise I can start to work on this.

[2018-02-04 08:32] sibeliusg opened #242 "import playlists"
On YouTube.com you can export your playlists as an xml. Would be great if we could import them with Skytube

[2018-02-04 14:05] ram-on commented on #163
Implemented as per 8029882522cad25dfe6c09826899dfa481a5eca0

[2018-02-04 14:05] #163 closed

[2018-02-04 14:07] ram-on commented on #2
Video bookmarking has been implemented.

[2018-02-04 14:07] #2 closed

[2018-02-04 14:07] ram-on commented on #51
Implemented search history hints as per 8029882522cad25dfe6c09826899dfa481a5eca0

[2018-02-04 14:07] #51 closed

[2018-02-04 14:09] ram-on commented on #57
Search history implemented as per 8029882522cad25dfe6c09826899dfa481a5eca0.

[2018-02-04 14:09] #57 closed

[2018-02-04 14:10] #230 closed

[2018-02-04 14:10] #213 closed

[2018-02-04 19:28] ram-on commented on #197
@okan35 Go for it.  Leave the option to backup both  subscriptions and bookmarks DBs.

[2018-02-05 19:05] fluffynuts opened #243 "Feature request: set playback speed"
Absolutely the only feature that keeps me from making this my default client is that I normally play videos at 1.5x (sometimes 1.25x). So I'd really appreciate the ability to alter playback speed, like in the official app.

[2018-02-06 09:16] strk commented on #143
@avently do you publish an .apk for your fork version?

[2018-02-06 09:19] avently commented on #143
@strk no. It doesn't have new features from original app because it is a little bit outdated. Maybe in the future background playback will be here too

[2018-02-08 11:12] Raj2032 opened #244 "SkyTube should change to MIT license"
Reason why I suggest this is cause GNU licenses tend to be more restrictive, as the user who wants to fork SkyTube would be forced to make their distribution open source instead of doing whatever they want to do to it; having these sort of restrictions in place does reduce the freeness within the software.

[2018-02-08 21:11] ram-on commented on #244
The reason why the GNU licence was chosen is because it is restrictive.  I don't what people using and improving the code for their own advantage without contributing back to this project.

[2018-02-08 21:11] #244 closed

[2018-02-08 23:35] Raj2032 commented on #244
But then how can people own the software if you restrict people's rights?

On Fri, Feb 9, 2018 at 8:11 AM, Ramon <notifications@github.com> wrote:

[2018-02-09 05:47] herrwusel commented on #244
I don't get it @Raj2032 . A person dedicates his time to make an app for free as in beer and you complain that the license is bad because you can't own the code. I guess this code is not meant to be owned, is it?

[2018-02-09 06:43] Raj2032 commented on #244
According to an article https://vaporsoft.net/gpl-sucks/, making software
GPL licensed makes the software NOT truly FOSS. in order to make it truly
FOSS, it should stick with MIT license.

On Fri, Feb 9, 2018 at 4:47 PM, herrwusel <notifications@github.com> wrote:

[2018-02-09 06:48] ildar commented on #244
May I suggest @Raj2032 reading RMS @ gnu.org site why "owning the code" is
bad? And I don't call to discuss these matters HERE.

[2018-02-09 07:44] Raj2032 commented on #244
What I am trying to say that this software can't be fully truly free
software, that is what I am saying here. Plus this issue is already closed,
may I ask how come it is a bad idea to discuss it over here?

On Fri, Feb 9, 2018 at 5:48 PM, ildar <notifications@github.com> wrote:

[2018-02-09 07:49] herrwusel commented on #244
it depends on how you look at it. You say it isn't free because you can't do with it what you want. I say it is so free that people using this code need to make it open accessible.

[2018-02-09 15:55] MikeLund opened #245 "Differences in non-OSS Extra version"
Hi, I just found this project and it works well, good job!

However, I was initially turned off by the vagueness of the "Open source app with extra features" description for the SkyTube Extra version. I looked around for more information in other issues, but I couldn't find it.

So I think it'd be useful if there was a little bit more information given on the difference of the fully-OSS version. C

[2018-02-09 17:12] ram-on commented on #244
This app is free provided that everyone shares the source-code.  It's a fair deal in the sense that I'm sharing the source code (for which me and other devs developed in our spare time - free of charge) and third parties have every right to view, study and audit the source code and also modify and monetize it ... provided that such third party publishes any changes to the source code so that the w

[2018-02-09 17:17] ram-on commented on #245
Hello @MikeLund.  The code of both flavors is open-source and protected by the GPL.

However SkyTube Extra also contain the default YouTube player which is basically a closed source library developed by Google.  In the near future, SkyTube Extra will also contain the Chromecast functionality - again such functionality is provided by a third party library which is also closed source.

Hence, SkyTub

[2018-02-11 15:17] okan35 opened #246 "Extractor error after fetching upstream"
@ram-on Hi Ramon I just got this error after I synced the forked repo with upstream.

https://i.imgur.com/DNquSlL.png

I did not want to change anything before asking here, I assume it is about some package changes or I am not sure as if I make service list public that also creates new errors. Do you have any idea about this ?

[2018-02-11 15:38] ram-on commented on #246
@okan35 Please delete the following directory:  `app/src/main/java/org`

[2018-02-11 16:00] solusitor opened #247 "[Request] HTTP Proxy Support"
AntennaPod, for example, has support for HTTP proxy, which allows you to connect it to Orbot. Many people use a proxy at home, work or school.

Skytube is the best app for viewing Youtube videos out there right now, and I really love it and I've recommended it to everyone I know, but this is the one thing that makes me squeamish when I use it, that I can't anonymize my traffic.

[2018-02-11 17:07] ram-on commented on #247
@solusitor Thank you for your kind words.

[2018-02-11 17:31] okan35 commented on #246
thanks, that helped.

[2018-02-11 17:31] #246 closed

[2018-02-12 10:58] MikeLund commented on #245
So basically the only real difference is from a few libraries extra used: currently the proprietary YT player, and eventually Chromecast functionality. Thus there's nothing missing from the libre version, if one doesn't want to use YT's player or the Chromecast. Thank you for the clarification!

[2018-02-12 10:58] #245 closed

[2018-02-13 19:16] rmenessec commented on #143
I'd really like to see basic support background playback, even if it doesn't have notification controls to begin with. I'm using [NewPipe](https://github.com/TeamNewPipe/NewPipe) in the meantime.

[2018-02-13 19:19] rmenessec commented on #25
Now that SkyTube supports custom API keys, is it possible to add support for personal YouTube account access? I confess, I don't see any other reason for the implementation of custom API keys. I created and added an API key; I haven't encountered any errors, but I haven't seen any features enabled or any changes in SkyTube behavior after adding the custom key.

[2018-02-13 20:10] ram-on commented on #25
@rmenessec By inputting a custom key, you get more accurate channel results and you also reduce the load on the shared API keys (as each key comes with a limited number of units that are renewed each and every day).  In the future, I'll add an option to login which can be used to retrieve YT channels, submit comments...etc.

[2018-02-16 05:16] igor50002 opened #249 "Time of the begining of playback"
Hi, the app is really good!!! But why should we wait for so long time of the start of watching video?

[2018-02-16 08:36] narayaan opened #250 "interrupt skytube when receiving a phone call"
I noticed that when I got called, skytube kept on playing. It would be nice if skytube pauses while receiving a phone call.

[2018-02-17 15:30] ram-on commented on #250
That's actually a very good idea.

[2018-02-18 22:27] JustMeErazem opened #251 "Option to play videos in VLC"
VLC has a much nicer and more material interface and even plays video in PIP (Picture in Picture) mode on Android Oreo, so there is no need to implement this feature seperately.

[2018-02-20 21:22] ram-on commented on #193
@petertirrell Channel blacklisting implemented as per PR #248

[2018-02-21 15:16] okan35 opened #252 "Window leaked error"
When I play a video and press back button I get the following error output. If someone can also confirm this, I will work on it to fix it.

`02-21 16:15:08.433 32074-32074/free.rm.skytube.extra E/WindowManager: android.view.WindowLeaked: Activity free.rm.skytube.gui.activities.YouTubePlayerActivity has leaked window DecorView@f03fa3a[] that was originally added here

[2018-02-21 15:50] okan35 commented on #197
@ram-on So I put a checkbox like this ibb.co/i4ZEnc  When a user clicks it and proceeds to import, the user will be unsubscribed from all the channels. If this is what is want I will finish this and make a pull request soon.

[2018-02-21 16:15] okan35 opened #253 "Checking internet connection"
Sometimes there are moments I open the app and there is no connection/connection is lost so It would be nice to get a toast and letting us know that there is not connection. If it is okay I can also work on this ?

[2018-02-21 20:35] ram-on commented on #253
Please proceed.

[2018-02-21 20:39] ram-on commented on #252
Hi @okan35 , I'm not getting that exception.  Is the app crashing?  It would be nice if that error is fixed though.

[2018-02-21 20:52] atomjack commented on #252
I see that exception sometimes, but it never crashes the app.

[2018-02-21 20:53] ram-on commented on #197
@okan35 Looks great - pls proceed

[2018-02-22 14:49] okan35 commented on #252
The app does not crash but the exception is still there.

[2018-02-23 17:26] okan35 commented on #197
@ram-on I am able to unsubscribe a user from all the channels but I am not able to update SubsAdapter.  I made an Asynctask as I get `NetworkOnMainThread` error. So I made this inside `SubscriptionsDb` class.

[code]

My problem is I am not sure how to initialize SubsAdapter in the code. I tried using context, putting it in constructor of `AsyncTask` and then in `SubscriptionsDb# unsubscribeFromAl

[2018-02-23 18:25] ram-on commented on #197
Hello @okan35, just call `SubsAdapter#removeChannel()` on `AsynchTaskParallel#onPostExecute()`.  Remember, UI code can only be modified by the main thread, that is if your using an AsynchTask, UI code can be placed inside `onPreExecute()`, `onPostExecute()` and `onProgressUpdate()`.

On a side note, pls give a meaning full name to classes.  `deleteAllRecordsTask` name is meaningless to me.

Also,

[2018-02-23 19:11] okan35 commented on #197
@ram-on I fixed it by a `Handler` to pass to UI thread. The moment user checks all the subscriptions are unsubscribed. I will also fix the logs and name as they were just for the moment.

[2018-02-25 14:52] andrect1 opened #256 "How add admob?"
Hello
How add admob footer banner ALL app?

[2018-03-05 19:32] okan35 opened #257 "Alphabetical order for subscribed channels drawer"
I really would like to have my channels in a alphabetical order and also maybe a small search box in which I can type letters and it will start to show related subscribed channels. So I don't have go up and down to find a specific channel.

So these two features would be great.
-Alphabetical order of subscribed channels in subscribed channels drawer.
-A small search option in Subscribed channels d

[2018-03-05 20:08] atomjack commented on #257
Agreed!

[2018-03-05 20:17] ram-on commented on #257
Sounds great.  Add the alphabetical order in the preferences.

For the channel search thingy, I suggest that we add a search icon near the "Subscriptions" title and once it is clicked a search box will appear beneath it, like this:  https://i.imgur.com/SXR7wPz.jpg

[2018-03-05 21:44] gzsombor opened #260 "Subscription DB is not initialized if the app is started without network"
Because SubscriptionsDb.getSubscribedChannels after asking the database, it asks the Youtube servers about more channel informations. This throws an exception, but that exception is catched, and an empty list is returned. In the end, the UI shows the warning about that there isn't any subscription yet - which is freaky a bit. The bigger problem is, that the user needs to force-stop the app, and re

[2018-03-06 06:57] okan35 commented on #257
That is what I was thinking exactly. This will make usage way easier. I am not sure if I can work on this now. If anyone can start, it would be great otherwise I will work on it later.

[2018-03-06 21:06] Pararena opened #261 "Playback menu above the video"
The playback menu appears above the video. i didnt see this on the changelog so it's probably a bug (if not than id like the option to revert it)

[2018-03-06 21:38] ram-on commented on #260
Good catch.  We can either cache the subscribed channels' info or add the subbed channels inside a SwipeRefreshLayout.

[2018-03-06 21:39] ram-on commented on #261
Hi @Pararena.  What do you mean  by "playback menu"?  Can you submit a screenshot?

[2018-03-07 00:23] Pararena commented on #261
![screenshot 2018-03-06 at 14 02 06](https://user-images.githubusercontent.com/37123190/37066522-4a440042-21bf-11e8-832f-3f8ebe708445.png)

[2018-03-07 16:33] okan35 commented on #261
That is the first time I ever see something like that.

[2018-03-07 17:25] ram-on commented on #261
That's actually a bug -- This is now resolved as I've rewritten the player.  An updated version will be released soon, hopefully within 1 month.

[2018-03-07 17:25] #261 closed

[2018-03-11 19:33] okan35 commented on #257
Hi @ram-on I am able to put the channels alphabetically, soon I will make a pull request after I make a new branch cleanly. After this is done I will work on search feature for subscribed channels.

[2018-03-11 20:01] ram-on commented on #257
@okan35 Great.  Please make sure that you use tabs for indentation and not spaces.  Also, I recommend that you start working immediately on a branch rather than on your main.

[2018-03-11 20:34] okan35 commented on #257
You know what I actually don't use spaces. It is maybe my Android studio settings are using spaces because I don't really press space (I would hate it) a couple of times to indent code.

And yeah I will work on a different branch.

[2018-03-11 21:28] ram-on commented on #257
@okan35 To fix the indentation problem, go to Android Studio > Preferences (or Settings) > then refer to the below screenshot:

![Android Studio Preferences](https://i.imgur.com/dtu7Chx.png)

[2018-03-12 10:43] okan35 commented on #257
Thanks, I did that.

[2018-03-12 10:48] reallinfo opened #266 "New logo for SkyTube"
Hello, I designed a logo for SkyTube. If you like it, I will give you this logo as a gift.

![logotype](https://user-images.githubusercontent.com/36298335/37279458-8b7efc50-25f3-11e8-83a0-348caf7e5a68.jpg)

[2018-03-13 21:15] ram-on commented on #266
Hello @reallinfo.  That's actually nice, a much needed upgrade.  Thanks!  Is it possible to share the source file?

[2018-03-13 21:19] reallinfo commented on #266
Of course there is.. Here you are. I would be very happy if you use this
logo. :)

2018-03-13 23:15 GMT+02:00 Ramon <notifications@github.com>:

[2018-03-13 21:32] ram-on commented on #266
@reallinfo The source file was not attached with the previous message.  Most probably it was automatically removed by GitHub.  It is possible to place it inside a Zip file and submit it via the GitHub website?

[2018-03-13 21:36] #256 closed

[2018-03-13 21:37] ram-on commented on #256
Ads goes against the policies of SkyTube.  If you are planning to fork SkyTube and add Ads, then make sure that the source-code is published and made available as per GPLv3.

[2018-03-13 21:38] reallinfo commented on #266
[skytubelogo.zip](https://github.com/ram-on/SkyTube/files/1808736/skytubelogo.zip)
Is it ok?

[2018-03-13 22:06] reallinfo commented on #266
I sent.

2018-03-13 23:32 GMT+02:00 Ramon <notifications@github.com>:

[2018-03-13 22:19] ram-on commented on #266
@reallinfo yeah I've received it.  Much appreciated!

[2018-03-13 22:24] reallinfo commented on #266
Thanks!

[2018-03-15 04:44] Beapal opened #268 "high resolution video download"
Videos are download at 348p even after setting high resolution in player preference.

So, whats the way to download 1080p ?

[2018-03-15 09:46] #253 closed

[2018-03-15 18:21] ram-on commented on #268
@Beapal Can you indicate the videos which are being downloaded as low res files?

[2018-03-15 19:21] Beapal commented on #268
Thank you for the repond.

Sky tube is downloading high resolution as set in video player preference.

It was VLC Android didnt refresh video resolutions even deleting and redownloading.

Sky tube rocks.

[2018-03-15 19:21] #268 closed

[2018-03-15 22:19] ghost opened #269 "Download video as audio"
Option to choose whether to download as video or as audio.

[2018-03-16 13:27] fragstone opened #270 "Direct Linux Support"
Hi,

is it possible to get this App for Linux Desktop?

regards
Thomas

[2018-03-16 17:08] ram-on commented on #270
SkyTube can run on Linux if you use [AnBox](https://anbox.io/).

[2018-03-18 02:55] azzamsa commented on #243
Come here for one reason : Youtube Andorid app permission become more more horrible.

This is the only feature I need, playback speed. For now I watch youtube using firefox android.

Permission | Improvement from Permissions
-- | --
Record audio | Enables video recording and live streaming within the app.
Precise location | Allows you to more easily attach location information to your  videos and

[2018-03-18 16:11] ram-on commented on #243
@azzamsa It will soon be implemented

[2018-03-20 14:25] Dnaart18 opened #271 "New logo for SkyTube"
Hi, I'm designing a logo for SkyTube. If you like it, I will give you this logo as a gift.
![icon](https://user-images.githubusercontent.com/37586134/37660517-303997fe-2c85-11e8-8ede-15c21422dc07.png)

[2018-03-20 17:09] ram-on commented on #271
Thanks @Dnaart18 !  Now I have to choose between this one and that of #266.  Can you share the source file?

[2018-03-20 17:11] Dnaart18 commented on #271
here sir https://drive.google.com/drive/folders/1Pai6lDuozJALJ_Uw1HJ2K28CifMVENAz?usp=sharing

[2018-03-20 20:30] ram-on commented on #271
@Dnaart18 I think you've shared the wrong folder

[2018-03-20 20:33] Dnaart18 commented on #271
no one seems. inside the folder has original logo file

[2018-03-20 20:36] ram-on commented on #271
@Dnaart18 The shared folders only contain files relating to a casino logo.

[2018-03-20 20:38] Dnaart18 commented on #271
Omg!!!! ,, im sorry tomorrow I will reupload :)

[2018-03-21 06:00] Dnaart18 commented on #271
this is the correct link sir https://drive.google.com/drive/folders/1RvqudoHz2wxhTKrnFhHa_3-JlIyIq9GS?usp=sharing

[2018-03-23 18:34] okan35 opened #272 "Google api limit problem"
@ram-on This is the first time I encounter this problem. I believe this is something new, have you ever had this as it does not let me open the app and test the features, all I get from app is a white screen with no response and loads of error messages similar to this.

`03-23 19:30:09.199 9776-9802/free.rm.skytube.extra E/GetChannelsDetails: Error has occurred while getting channels info

[2018-03-23 22:44] ram-on commented on #272
@okan35 Yeah, someone is performing a DOS attack on the API key.  A DOS attack on an open-source project is unbelievable and just shows how some people are just without any morals.

Google provides a way to mitigate such attacks, although they are not foolproof as the keys are made public.  I've tested those and seems to be working.  Will release an emergency fix tomorrow.

[2018-03-24 05:36] okan35 commented on #272
That is unbelievable. Who could do such thing, why would even someone do this. I mean that person should have a really low life, really.

Hope the fix is easy and quick.

[2018-03-24 13:10] ram-on commented on #272
I've just placed controls in place and published an emergency fix.  Will see how it goes.

[2018-03-24 13:10] #272 closed

[2018-03-24 13:35] okan35 commented on #272
Thanks I will check it soon.

[2018-03-24 16:08] podanrj commented on #271
hi @ram-on what do you think? this is will be used for [the project](https://github.com/ram-on/SkyTube/issues/266 )?  or u will use this [one](https://drive.google.com/drive/folders/1Q-fzSovm2v2ZopQYnrHhqNvqnsAG74B3).?

I need your quick feedback.?

[2018-03-24 18:19] atomjack commented on #272
@ram-on Did you ever get in touch with FDroid about getting their SHA1 signing-certificate fingerprint so you could lock the API keys down to only be used with the app? (Along with your own signing-certificate)

[2018-03-24 19:36] stemy2 opened #273 "Subscriptions deleted"
Hello,

I subscribed to 54 channels, but for an unexplained reason, this number is now 0.

It happens regularly, but this time, even restarting my phone doesn't solve it.

[2018-03-24 20:36] ram-on commented on #272
@atomjack Yeah the keys for v2.82 are now using the certificate fingerprint although to be quite honest that method is pretty useless as it can be easily spoofed...

[2018-03-24 20:37] ram-on commented on #273
Hi @stemy2, can you please provide more insight on how to replicate this bug?

[2018-03-24 20:48] stemy2 commented on #273
Honestly, i really don't know what's the origin of the problem. It appears for an uknown reason at app launch and is resolved itself, except the last time.

Additionnally, i have another problem.

I searched some terms, no results. I pressed back, and i saw -not without surprise- all the videos of my subscriptions, with an empty list of subscriptions. At this step, if i refresh, all the videos dis

[2018-03-25 11:33] ram-on commented on #273
@stemy2 That could be because the app exceeded the YouTube API quota.  Try to enter your own YouTube API via Preferences > Others > YouTube API key.  That will fix any of these issues.

[2018-03-25 11:46] stemy2 commented on #273
Thanks for your answer. It made me think that i blocked the google apis with an app wich can block system wide requests (AdAway). So i unblocked it, then my skytube works again.

[2018-03-25 11:47] #273 closed

[2018-03-25 13:47] #270 closed

[2018-03-25 15:22] ram-on commented on #266
Hi @reallinfo.  Your icon is now being used as the launcher icon for the SkyTube app.  Many thanks for your contribution!

[2018-03-25 15:22] #266 closed

[2018-03-25 15:22] ram-on commented on #271
Hi @Dnaart18, I had to choose between this icon and the one listed in #266.  Both icons are very professional and good looking.  Unfortunately I've chosen the #266.  Nevertheless, I would like to thank you for taking the time and effort in creating the icon!

[2018-03-25 15:22] #271 closed

[2018-03-25 15:28] reallinfo commented on #266
You are welcome, goodworks!

[2018-03-25 18:16] okan35 commented on #273
@ram-on  In my opinion it was because of internet connection, which gave null result to the lists which crashed the app.

[2018-03-26 12:38] Gentasteem opened #275 "Bug Report : Sky Tube App || Could not download video thumbnail"
#### Expected behavior<br>
On the Side can download videos can also download thumbnails. And when downloading there are no obstacles that cause the download to fail<br>
<br>
#### Actual behavior<br>
In fact I can only download videos. While downloading thumbnails can not and always fail.<br>
<br>
#### How to reproduce<br>
<br>
* Download the Application in [F-droid](https://f-droid.org/app/free.rm

[2018-03-26 16:51] D-Ermis opened #276 "[Feature Request] Desktop Version"
Hi -- SkyTube is great and I use it daily on my Android phone.
I'm looking for a youtube alternative for Windows.
Do you think it's feasible to port SkyTube to Desktop or as a web app? It'd be soo great!

Thanks and keep up the good work!

[2018-03-26 19:26] ram-on commented on #275
@Gentasteem Unfortunately I cannot reproduce this bug.  By any chance:
1. Does your device have an SD card?
1. Are you able to download a video using SkyTube?

[2018-03-26 19:31] ram-on commented on #276
Hi @D-Ermis, the source code of this app is very tightly knit with Android as it only uses the Android API making it very difficult to port it to Windows.  The only way to run it on Windows is by using a virtual machine or emulator such as BlueStacks or run Android-x86 inside VirtualBox.

[2018-03-27 11:47] mvglasow opened #277 "Report download status"
I just had a download stop for no apparent reason, and no further information was given. The download later resumed (it had apparently just been suspended by the system).

It would be better UX to ensure there is always a notification regarding the download status, from the moment it is started until it has completed or failed for good and the user has acknowledged that (by clearing the notificati

[2018-03-27 11:49] mvglasow opened #278 "Where do downloaded videos get stored?"
Where does SkyTube store downloaded videos? I couldn’t find any information on that, but I believe it needs to be documented somewhere.

[2018-03-27 16:27] ram-on commented on #278
Hi @mvglasow, videos are downloaded to your Downloads folder (on your external storage space - such as your SD card).  Just use a File Manager (such as Android's Files app or F-Droid's Amaze), then tap on the Downloads section:  the downloaded videos should be there.

[2018-03-27 17:17] atomjack commented on #278
FYI, on my Nexus 5, the downloads were put into the Movies folder of my sdcard. We're not specifying the exact folder they should be stored in; we're just asking Android to give us the path to the external storage public directory. [Here's](https://developer.android.com/reference/android/os/Environment.html#getExternalStoragePublicDirectory(java.lang.String)) the documentation for what we're using

[2018-03-27 19:44] ram-on commented on #106
@Trollkragenhemd Implemented as per PR #267.

[2018-03-27 19:44] #106 closed

[2018-03-27 19:46] ram-on commented on #197
@thiswillbeyourgithub Implemented as per PR #264

[2018-03-27 19:46] #197 closed

[2018-03-27 19:48] ram-on commented on #252
Hi @okan35.  Don't bother fixing this as YouTubePlayerFragment is now deprecated and is going to be replaced by YouTubePlayerFragmentv2 (exoplayer).

[2018-03-27 19:48] #252 closed

[2018-03-29 10:24] Shtirla commented on #75
Where this function? I do not see it in the latest version of application.

[2018-03-29 10:46] okan35 commented on #75
It will be in the new release.

[2018-03-29 10:46] okan35 commented on #75
The pull request was merged some time ago.

[2018-03-29 19:39] ram-on opened #280 "Channels are not sorted after the app is re-opened"
Channels are not sorted after the app is re-opened.  Bug can be reproduced as follows:

1. Subscribe to a number of channels
1. Go to Preferences > Others > Sort by channel
1. Close/Kill the app (https://i.imgur.com/wrCRSHC.jpg).
1. Re-open the app.  Once re-opened, the channels are not sorted alphabetically.

[2018-03-29 19:40] ram-on commented on #280
@okan35

[2018-03-29 19:46] okan35 commented on #280
@ram-on I will check it again, it is possible that I forgot to commit some code.

[2018-03-29 22:48] atomjack opened #281 "Regression found on channel blocking feature"
I recently noticed that after unsubscribing from a channel, the videos from that channel still appear in my Feed tab. I did some research and found that this is due to a change that @okan35 did with the channel blocking feature. Specifically, when the unsubscribe method of SubscriptionsDb is called, it is no longer deleting videos from the channel that is being unsubscribed from.

https://github.c

[2018-03-30 05:35] okan35 commented on #281
@atomjack I thought those lines were doing the same thing basically and asked also @ram-on about it if I should delete them and he said yes so I deleted.

[2018-03-30 10:18] okan35 commented on #280
@ram-on  I checked it and I literally don't understand how this is not working as shared preference is working from my understanding. Because from the outputs of Loggers that is what I see. Everything is true even inside the if else in `getSubList` but still it does not sort the channels after restarting the app.
you can find the code here https://gist.github.com/okan35/5d2cc9ba6143580fe73edb3b942

[2018-03-30 10:20] ram-on commented on #281
@atomjack @okan35 My bad, I misread the SubscriptionsVideosTable as SubscriptionsTable.  I'll add them back

[2018-03-30 10:33] ram-on commented on #280
@okan35 The code in your branch is different than the one is the master.  More specifically:

[code]

[code]

There is for sure bug at the first line of the master's `setChannelsSorted()`:  isChannelsSorted is being copied to its self...

On a side note, do NOT manually copy code from your master to the branch.  Always work on a custom branch and then, before you commit a Pull Request, make sure t

[2018-03-30 10:36] okan35 commented on #280
I will do the rebasing or creating a clean branch but just wanted to fix it firstly. The one that I just showed you in that file is also not working, I made those changes now otherwise it was the same as master.

[2018-03-30 13:21] ram-on commented on #281
Fixed as per 42c142c2c0eeefe6d1ecb158a7aa1451d04ddd5c

[2018-03-30 13:21] #281 closed

[2018-03-30 14:51] okan35 commented on #280
@ram-on I fixed the issue, at least it seems like that. Everything was correct actually but I just was not updating the UI, now I do it and it seems ok to me.

[2018-03-30 20:49] atomjack commented on #281
Cool thanks!

[2018-04-02 16:26] Thorsky24 opened #283 "Problem with Subscription Importation from YouTube"
Hello,

I just wanted to ask if it would be possible to allow .bin files in order to import YouTube subscriptions. I didn't manage to import an XML file: maybe it was the former format but it has been changed.
Otherwise, if it is still possible to export an XML file from YouTube, is it possible to tell me how?

Thanks in advance and for the development of the app :)

[2018-04-02 16:47] atomjack commented on #283
@Thorsky24 I'm not sure where you can get .bin files that have YouTube subscriptions, but can you elaborate on the problems you're having importing the xml file? One thing I noticed is that Chrome for Android doesn't give the downloaded xml file an xml extension, so you'll have to rename it with a file manager before you attempt to import it (the in-app file browser doesn't see it if it doesn't ha

[2018-04-02 17:06] Thorsky24 commented on #283
You were right, it was a problem linked with my browser. We can close this issue. Thank you for the help :)

[2018-04-02 17:07] #283 closed

[2018-04-03 17:54] emrexemre opened #284 "Request - Changing Video Quality"
If we able to change video quality when we watching a video, that would be awasome.

[2018-04-04 20:48] GoTeamAnt opened #285 "mobile data is used even if downloads on mobile networks are disabled"
Hello

I have a Google Pixel with Android 8.1 (currently) and SkyTube uses my 1GB mobile data package even tough I disabled downloads on mobile network

My settings are:

SkyTube:

- Allow downloads on mobile networks [disabled]

relevant Android:

- WiFi [enabled]
- Mobile data [enabled]
- Agressive Wi-Fi to mobile handover [disabled]
- Mobile data always active [disabled]

I am watching videos o

[2018-04-04 21:32] GoTeamAnt commented on #285
Thanks for the clarification.

I guess this is a feature request then.

Requested Feature:
Option to allow streaming of videos only on wifi (not metered connection).

[2018-04-05 03:17] ildar commented on #285
Android has some means for that. Did you try?

[2018-04-05 07:34] GoTeamAnt commented on #285
Care to share your knowledge with us Ildar?

How would I do this (besides disabling mobile data)?

[2018-04-05 14:33] ildar commented on #285
Ahem,
https://duckduckgo.com/?q=android+restrict+mobile+data&iax=images&ia=images

[2018-04-05 14:55] GoTeamAnt commented on #285
This images/links are about restricting background data, but Skytube uses foreground data.

Or did you have something else in mind?

I hate to be spoon feeded myself, but can you be very specific in your next post. Thanks in advance.

[2018-04-05 15:04] ildar commented on #285
Ahh, you're absolutely right! I simply missed this point it's just about
background traffic.
Then the only good solution I know is AFWall / iptables. Sorry, man

[2018-04-05 21:13] vsudakov opened #286 "Optionally save last playback position and watching history"
1. How about to have an option to save last playback position for each video?
This is very helpful when you watch a long movie time to time. Currently people have to seek the last playback position every time when they continue to watch that movie.

2. To keep history of watched videos?
For example, when I watch videos of the same channel - I don't remember which videos I've already watched in pas

[2018-04-05 23:03] atomjack commented on #286
That's a great idea. It would also be cool to, for instance, be able to switch between showing all videos and only showing videos you haven't watched before.

[2018-04-09 02:42] jbeguna04 opened #287 "Logo/Icon Proposal"
Hi good day! I would like to ask for your permission to propose a new designs of logo in your application/project. This issue is not saying that your current logo is unsatisfactory, I would just like to propose new designs. Hoping for your positive response Thank You!

[2018-04-09 18:37] ram-on commented on #287
As a matter of fact we've just changed the logo.  However, feel free to propose a new design for the logo.  Thanks!

[2018-04-09 19:56] jbeguna04 commented on #287
Thank you

[2018-04-10 03:28] Ashutosh-Kukreti opened #288 "Change video resolution"
It would be better if i can change  the resolution from 3 dots menu rather than going to the settings each time.
I like to watch some action videos in 720p and normal in 360p.

Also, please add a pop-up window like new pipe it will be convenient to watch videos.

Why did every video start in full screen mode can i watch it in the player like real youtube app and read descriptions and comments befo

[2018-04-10 20:32] ram-on commented on #92
Hi @xamica.  This feature has been implemented and will be available in the next release.

[2018-04-10 20:32] #92 closed

[2018-04-10 20:38] ram-on commented on #288
Hello @Ashutosh-Kukreti.  I agree regarding the first two suggestions (resolution/quality:  #284; popup: #45).

Regarding the full screen mode, comments and descriptions can be viewed while playing the video by swiping to the left and to the top.

[2018-04-11 01:47] Ashutosh-Kukreti commented on #288
I know it can be view using swipe but it'll be better if i can view like in official app before playing video.

[``](https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fi0.wp.com%2Fsocialbarrel.com%2Fwp-content%2Fuploads%2F2017%2F04%2FYouTube-Comment-4.png%3Fresize%3D666%252C588&f=1)

Also sometimes when the video pauses or interrupted it start playing from the beginning.

[2018-04-11 19:55] ram-on commented on #288
Hi @Ashutosh-Kukreti, I don't see any intrinsic advantage regarding that design -- will not implement.  Regarding the first 2 suggestions:  those will be implemented eventually.

[2018-04-11 19:55] #288 closed

[2018-04-11 21:48] atomjack commented on #288
@ram-on For what it's worth, I too would like the ability to pull up a video's description before actually playing it. I'd be willing to work on that - maybe as another option in the Video options menu? To show a popup with the description?

[2018-04-12 18:11] ram-on commented on #288
Hi Chris, the problem is that the options menu is really getting cluttered with data.  If we somehow manage to change some options (text) into just icons something like this:  https://i.imgur.com/xhXnKAE.jpg

Do you thinks its possible?

[2018-04-12 19:37] #276 closed

[2018-04-13 11:57] Shtirla commented on #75
How long to new release? very want try.30.03.2018, 02:43, "Ramon" <notifications@github.com>:Closed #75.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-04-13 14:27] ildar commented on #286
👍

[2018-04-13 17:07] vsudakov commented on #286
@atomjack what you described - sounds great =)

[2018-04-13 19:54] ram-on commented on #75
Around a month or so.

[2018-04-13 20:06] ram-on commented on #286
@atomjack I agree with all points.

I would also add (similar to the search feature) an option in the preferences to clear all video history and to disable logging of videos.  It would be nice if these are placed under a (separate) privacy (preference) section (together with the "Disable search history" option).

[2018-04-16 18:42] atomjack commented on #286
@ram-on Sounds good. What should the default be, to save history or not?

[2018-04-16 19:53] ram-on commented on #286
@atomjack By default the app should save the history.

[2018-04-16 23:59] atomjack commented on #286
@ram-on Can you clue me in to how you created the preference icons (for video player, blocked channels, etc)? Trying to use a padlock outline one from Image Asset Clip Art but having trouble getting the color to match up.

[2018-04-17 20:09] ram-on commented on #286
Choose "Action Bar and Tab Icons" and then select:
* Preference icon padding:  15%
* Theme:  CUSTOM
* Custom color:  263238 (equivalent to @color/colorPrimary)

[2018-04-18 13:30] vsudakov commented on #251
At least for downloaded videos we need to have an option in "Open with ..." dialog to be able to open video with any video player. And maybe to have a "default video player for downloaded videos" preference.

To use VLC player directly with the folder where downloaded videos are located is not much comfortable because filenames are videos' IDs i.e. not human readable video names. E.g. "xcJtL7QggTI

[2018-04-18 13:50] vsudakov opened #290 "Automatically play the next video in channel's video list OR playlist"
If to open any channel - there are 3 tabs: "Videos", "Playlists" and "About".
The idea is to automatically play the next video in a list despite it was opened on "Videos" tab or in any "Playlist".
Also there should be an option to play the entire list repeatedly OR some single video repeatedly.

[2018-04-29 19:15] iamjaspreetsingh opened #291 "Search bar optimisation"
1. When we click on back button once after cancelling for a search, search icon disappears.
2. There is 'Search Videos' option in the 3 dot menu which sometimes appears irrelevantly.
3. When in horizontal view, the cancel sign is centrally aligned which must be aligned at the end.
4. Also, suggestions during typing the searched text can also be given.

![screenrecorder-2018-04-30-00-35-06-63](http

[2018-04-30 13:03] ram-on commented on #291
Good catch.

[2018-04-30 13:32] ram-on commented on #286
Hello Chris.  I really like the red-bottom progress bar! In fact I'm suggesting that instead of the red triangle, we just use the (full) progress to indicate that the video was fully played (just for the sake of consistency).

As for the settings, can you add an option to clear all history (only)?

Regarding that bug: when I've written the BackButtonActivity, I've jotted down this following commen

[2018-04-30 13:37] ram-on commented on #287
I'm going to close this issue - however, if you have any updated designs, please do not hesitate to re-open this ticket!

[2018-04-30 13:37] #287 closed

[2018-04-30 15:38] jbeguna04 opened #292 "Logo/Icon Proposal"
Sorry for making you wait for a long time, Let me propose again my designs in your project. Hope you like it!
![image](https://user-images.githubusercontent.com/35353768/39436056-87453a98-4ccf-11e8-9b68-2ff555f3ba9e.png)

[2018-04-30 21:55] atomjack commented on #286
@ram-on Awesome, thanks for the input. I've done away with the red triangle and it will now just show the red bar at 100% width when a video is watched. And I add clear all history to the Privacy Preference screen.

I don't really think the Theme has much to do with it (as far as I can tell), however when I change the Activity to always use the NoActionBarActivityTheme, using the Legacy player cra

[2018-04-30 22:17] atomjack commented on #286
@ram-on I figured it out. `MediaControllerEx` is overriding `dispatchKeyEvent`, and finishing the Activity when the Back button is pressed. I've updated it to have a reference to the Fragment (actually, an Interface I created that both Player Fragments implement) so it can tell the Fragment to stop playing the video and save its position (if needed). I'll have a PR up for your review soon.

[2018-04-30 23:59] Hamzeto938 opened #294 "i will love to do copywriting for you"
I love your application and would want to contribute to it, I'm not a developer but I am good at copywriting. I would love to make a copywrite for your Readme and make a pull request for you to merge. Your response would be highly appreciated. Also I would like to request if we could communicate via email, so I don't have to create issues. Thank you.

[2018-05-01 19:02] ram-on commented on #294
Hello @Hamzeto938, I don't understand what it meant by copywriting.  However, if you want, you can contribute by translating the app into your native language:  https://hosted.weblate.org/engage/skytube/

[2018-05-03 16:52] ram-on commented on #286
Done as per PR #293

[2018-05-03 16:52] #286 closed

[2018-05-07 16:28] ram-on commented on #193
@petertirrell Channel whitelisting implemented as per 5e6b8d15715ba11498ce16f5dae47f4de5ab982c.

[2018-05-07 16:28] #193 closed

[2018-05-07 16:31] ram-on commented on #292
@jbeguna04 Thank you for your contribution.  Unfortunately we will be using icon designed by @reallinfo  (#266).  Nevertheless, I would like to thank you for taking the time and effort in creating the icon!

[2018-05-07 16:31] #292 closed

[2018-05-07 16:31] ram-on commented on #294
@Hamzeto938 I'm closing this issue -- looking forward for your contributions.

[2018-05-07 16:31] #294 closed

[2018-05-09 12:26] bocekm commented on #242
The SkyTube now allows importing the playlist XML exported from YouTube.

[2018-05-09 12:34] bocekm commented on #242
My bad, I mixed up playlist and subscription XML. SkyTube supports importing just the XML with subscriptions.

[2018-05-09 12:37] lilpellaola opened #295 "Request to copy right."
Hello there! I see you've a awesome project and I'm a big fan of skyTube and I'd like to request for you to grant me an opportunity to be part of this awesome project although I'm not a developer but I could add to it by helping with the copyright like writing Frequently Asked Questions(FAQ).. Looking forward to hear from you....

[2018-05-09 19:48] ram-on commented on #295
I would really like it if you take part in translating this app in your native language.  Refer to https://github.com/ram-on/SkyTube/wiki/Contribute

[2018-05-10 13:13] shaanvipul opened #296 "playlist ID change"
Hi i am new with android love ur code its really good i need ur help to modify playlist id in first tab so where is the option to change i try a lot but not got success please help me.

[2018-05-10 17:27] #295 closed

[2018-05-10 17:33] ram-on commented on #141
Issue appears to be resolved now.

[2018-05-10 17:33] #141 closed

[2018-05-10 17:35] ram-on commented on #109
Swipe control implemented as per 00cbe595935959c79d4775a18aaeca1eca8c10e4.

[2018-05-10 17:35] #109 closed

[2018-05-11 05:07] shaanvipul commented on #296
Thanks sir i have read this first also and i am able to change name and all
but in this a need to play my playlist not youtube default page where i can
change playlist in featured Tab.
thanks for reply.

On Thu, May 10, 2018 at 8:51 PM, Ramon <notifications@github.com> wrote:

[2018-05-11 20:28] ram-on commented on #296
Currently it is not implemented.

[2018-05-12 19:22] harunbadilli opened #297 "Logo design for skytube"
I designed a logo for Skytube. With a logo similar to a YouTube app, I've made the Skytube app more distinctive and stylish. Skytube has now become more attractive.I can send it to you in any size and format. I hope you like it.
![1](https://user-images.githubusercontent.com/34319922/39960852-dba32250-5632-11e8-9dea-15595f2aca6c.png)
![2](https://user-images.githubusercontent.com/34319922/39960853

[2018-05-13 06:09] Shajeel-Afzal opened #298 "Proguard Configuration"
Hi,

Do we have Proguard Configurations for this project? I am getting a lot of errors once I try to generate the release build with Proguard Enabled.

[2018-05-13 10:05] Shajeel-Afzal opened #299 "Not able to upload the app made with SkyTube code on Google Play"
I have converted my YouTube Channel into Android app and now I want to upload it to the Google Play store. But I am getting policy violation email from the Google Play that it violates the YouTube Policies.

Any suggestion on this?

Specifically I am getting this:

[code]

[2018-05-13 12:39] ram-on commented on #298
Hi @Shajeel-Afzal, SkyTube does not use proguard.

[2018-05-13 12:40] ram-on commented on #299
Yes, most probably this app violates YouTube's T&Cs -- which is why it is not available on Google Play.

[2018-05-15 17:45] ram-on commented on #297
@harunbadilli  Thank you for your contribution. Unfortunately we will be using icon designed by @reallinfo (#266). Nevertheless, I would like to thank you for taking the time and effort in creating the icon!

[2018-05-15 17:45] #297 closed

[2018-05-18 17:16] stemy2 opened #300 "When playing, sound suddently muted, then video stops"
Hello,

I can't play entirely any video. Approximatively at the middle, the sound is muted for a couple of seconds, then playing is interrupted, even if the video is sufficiently buffered.

[2018-05-19 08:09] kr-nahid opened #301 "App crash when save as from SkyTube to Amaze File Manager"
#### Project Information
* Repository:  https://github.com/TeamAmaze/AmazeFileManager

#### Expected behavior
it expected that i able to save when i click on save as link  from **SkyTube** to **Amaze File Manager** .

#### Actual behavior
when i try to save video link from **SkyTube** by click  save as on **Amaze File Manager** and click on download button ,  the app crash.

#### How to reproduce